<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="/">
    <img src="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png"
      width="30" height="30" class="d-inline-block align-top" alt="">
      <!-- <span class="navbar-brand mb-0 h1"> -->
        DTOcaen+
      <!-- </span> -->
  </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
    </ul>
  </div>
</nav>
