<!--
This is the Site Characterisation module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Youen Kervella, Nicolas Michelet, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="navbar">
    <table style="width:150px;border:none;background-color:white;float:left">
      <tr>
        <td style="border:none;background-color:white">
          <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />
        </td>
        <td style="border:none;background-color:white;text-align:left">
          <span style="font-weight:bold"> SC (v1.5.2) </span>
        </td>
      </tr>
    </table>
    <template v-if="this.$route.path === '/inputs'">
      <table style="width:100px;border:none;background-color:white;float:right">
        <tr>
          <td style="border:none;background-color:white;padding-top:7px">
            <el-button type='primary'
                      style="padding: 7px 14px;font-family:Open Sans"
                      @click.prevent="Save()">Save </el-button>
          </td>
        </tr>
      </table>

    </template>
    
    <template v-if="this.$route.path === '/scoutputs/overview' || this.$route.path === '/scoutputs/waves' || this.$route.path === '/scoutputs/currents' || this.$route.path === '/scoutputs/2D_maps'">
      <el-row style="float:right;margin-right:3%;top:10px">
        <router-link target="_blank" :to="{ name: 'PDF', query: {ProjectName: Project.name, Complexity: Project.complexity_level, switch1: switch_current, switch2: switch_wave, entity_id: Project.entity_id}}">
          <el-button type="primary" style="padding: 8px 14px;font-family:Open Sans">
            Export results to PDF
          </el-button>
        </router-link>
      </el-row>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
import axios from 'axios'

export default {
  data() {
    return {
      dialogFormVisible: false,
    }
  },
  components: {
    Breadcrumb,
    Hamburger
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ]),
    ...mapState(['Project', 'switch_current', 'switch_wave']),
    Project: {
      get () {
        return this.$store.state.Project
      },
      set (newValue) {
        return this.$store.dispatch('set_ProjectAction', newValue)
      }
    }
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    Save() {
      const payload = {
          name: this.Project.name,
          complexity_level: this.Project.complexity_level,
          run_mode: this.Project.run_mode,
          lease: this.Project.lease,
          corr: this.Project.corr,
          wave: this.Project.wave,
          current: this.Project.current,
          bathymetry: this.Project.bathymetry,
          seabed: this.Project.seabed,
          roughness: this.Project.roughness,
          species: this.Project.species,
          ts: this.Project.ts,
          ts2: this.Project.ts2,
          selected_lease: this.Project.selected_lease,
          lease_file_name: this.Project.lease_file_name,
          selected_corridor: this.Project.selected_corridor,
          corridor_file_name: this.Project.corridor_file_name,
          selected_seabed: this.Project.selected_seabed,
          seabed_file_name: this.Project.seabed_file_name,
          selected_roughness: this.Project.selected_roughness,
          roughness_file_name: this.Project.roughness_file_name,
          selected_species: this.Project.selected_species,
          species_file_name: this.Project.species_file_name,
          selected_ts: this.Project.selected_ts,
          ts_file_name: this.Project.ts_file_name,
          selected_ts2: this.Project.selected_ts2,
          ts_file_name2: this.Project.ts_file_name2,
          uniform_bathy: this.Project.uniform_bathy,
          selected_bathy: this.Project.selected_bathy,
          bathy_file_name: this.Project.bathy_file_name,
          entity_status: this.Project.entity_status,
          entity_id: this.Project.entity_id
        }
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Project.name}/saveProject`
      axios
        .post(path, payload)
        .then((res)=>{
          this.Project = res.data
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}

body { min-width: 1050px; }

span { font-family: "Open Sans" }

h1, h2, h3, h4 { font-family: "Rajdhani"}
</style>
