<a class="navbar-brand mb-0 h1" href="/">
  <abbr title="Design Tools for Ocean Energy Systems (Plus)" style="text-decoration:none">
    <img src="/static/images/logos/dtoceanplus-fonduni-low.png" class="img-responsive">
  </abbr>
</a>
