<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - DTOcean+ [SC module]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand mb-0 h1" href="/">
        <img src="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
        <!-- <span class="navbar-brand mb-0 h1"> -->
        DTOcean+ Site Characterisation module
        <!-- </span> -->
      </a>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mc-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/">DOCUMENTATION</a>
      </li>
    </ul>
  </div>
</nav>

<!-- User inputs -->
<form action="/api/earlyfinal" method="get" target="_blank">
    <fieldset>
        <legend>Site (timeseries example)</legend>
        Name of your project:
        <input type="text" name="site_name">
    </fieldset><br>
    <fieldset>
        <legend>Geometries</legend>
        <div class="col-xs-4">
            <div class="form-group">
            At <b>Early Stage</b>, the <b>lease area</b> and the <b>corridor</b>
             are automatically selected regarding the wave/current <b>levels of energy</b>. <br>
            Your <b>device</b> is then located at the <b>center</b> of the lease area.
            </div>
         </div>
     </fieldset><br>
    <fieldset>
        <legend>Levels of energy:</legend>
        Wave level of energy:
        <select name="Wave_energy_level">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
        Current level of energy:
        <select name="Current_energy_level">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
     </fieldset><br>
    <fieldset>
        <legend>Bathymetry</legend>
        If you want a uniform water depth, enter it (in m):
        <input type="text" name="bathym">
    </fieldset><br>

    <fieldset>
        <legend>Information</legend>
        Extractions and computations of all variables can last <b>several minutes</b>.
    </fieldset><br>

        <input type="submit" value="Submit"><br><br>
</form>


<!-- Scripts for Dropdown menu -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<img src="https://images.unsplash.com/photo-1502209944943-85c1d6146367?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
        width="900" height="150" align="bottom">
    

  </body>
</html>

        <!--div class="col-xs-4"-->
            <!--div class="form-group"-->
            <!--label class="control-label"--><!--A file upload button without icon--><!--/label-->
            <!--input type="file" class="filestyle" data-icon="false"-->
            <!--/div-->
         <!--/div-->


