<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - DTOcean+ [SC module]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand mb-0 h1" href="/">
        <img src="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
        <!-- <span class="navbar-brand mb-0 h1"> -->
        DTOcean+ Site Characterisation module
        <!-- </span> -->
      </a>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mc-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/">DOCUMENTATION</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          TESTS
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/api/test">Test1</a>
        </div>
      </li>
    </ul>
<!-- Navbar-nav with FORM -->
<ul class="navbar-nav">
   <form class="form-inline" action="/somepage">
      <input class="form-control ml-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
   </form>
</ul>
  </div>
</nav>

<!-- User inputs -->
<form action="/api/earlyfull" method="get" target="_blank">
    <fieldset>
        <legend>Geometries</legend>
        <div class="col-xs-4">
            <div class="form-group">
            <label class="control-label"> Upload your <b>farm</b> (.shp)</label>
            <input type="file" name="farmfile" class="filestyle" data-icon="false"><br>
            <label class="control-label"> Upload your <b>corridor</b> (.shp) </label>
            <input type="file" name="corridorfile" class="filestyle" data-icon="false"><br>
            At early stage your <b>device</b> is located at the <b>center</b> of the farm.
            </div>
         </div>
     </fieldset><br>
    <fieldset>
        <legend>Early stage:</legend>
        Wave level of energy:
        <select name="Wave_energy_level">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
        Current level of energy:
        <select name="Current_energy_level">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
     </fieldset><br>
    <fieldset>
        <legend>Needs</legend>
        <b>Farm:</b><br>
        <i>Direct Values</i><br>
          <input type="checkbox" name="farm" value="nodata"> No Data<br>
          <input type="checkbox" name="farm" value="bathy"> Bathymetry
          <input type="checkbox" name="farm" value="seabed"> Seabed
          <input type="checkbox" name="farm" value="roughness"> Roughness Length
          <input type="checkbox" name="farm" value="species"> Marine Species
          <br>
        <b>Corridor:</b><br>
        <i>Direct Values</i><br>
          <input type="checkbox" name="corridor" value="nodata"> No Data<br>
          <input type="checkbox" name="corridor" value="bathy"> Bathymetry
          <input type="checkbox" name="corridor" value="seabed"> Seabed
          <input type="checkbox" name="corridor" value="roughness"> Roughness Length
          <input type="checkbox" name="corridor" value="species"> Marine Species
          <br>
        <b>Devices:</b><br>
        <i>Direct Values</i><br>
          <input type="checkbox" name="device" value="nodata"> No Data<br>
          <input type="checkbox" name="device" value="bathy"> Bathymetry
          <input type="checkbox" name="device" value="seabed"> Seabed
          <input type="checkbox" name="device" value="roughness"> Roughness Length
          <input type="checkbox" name="device" value="species"> Marine Species
          <br>
        <i>TimeSeries</i><br>
          <input type="checkbox" name="device" value="nots"> No TimeSeries<br>
          Waves
          <input type="checkbox" name="device" value="tswavehs"> Hs
          <input type="checkbox" name="device" value="tswavetp"> Tp
          <input type="checkbox" name="device" value="tswavedp"> Dp
          <input type="checkbox" name="device" value="tswavete"> Te
          <input type="checkbox" name="device" value="tswavecge"> CgE
          <input type="checkbox" name="device" value="tswavegamma"> Gamma
          <input type="checkbox" name="device" value="tswavespr"> Spr <br>
          Currents
          <input type="checkbox" name="device" value="tscurrentu"> U
          <input type="checkbox" name="device" value="tscurrentv"> V
          <input type="checkbox" name="device" value="tscurrentmag"> mag
          <input type="checkbox" name="device" value="tscurrenttheta"> theta
          <input type="checkbox" name="device" value="tscurrentflux"> CPower <br>
          Winds
          <input type="checkbox" name="device" value="tswindu10"> U10
          <input type="checkbox" name="device" value="tswindv10"> V10
          <input type="checkbox" name="device" value="tswindmag10"> mag10
          <input type="checkbox" name="device" value="tswindtheta10"> theta10
          <input type="checkbox" name="device" value="tswindgust10"> gust10 <br>
          Water levels
          <input type="checkbox" name="device" value="tslevelxe"> XE
          <input type="checkbox" name="device" value="tslevelwlev"> WLEV 
          <br>
        <i>Statistics</i><br>
          <input type="checkbox" name="device" value="nostat" checked> No Statistics<br>
          <input type="checkbox" name="device" value="bas_wave"> Wave Basical
          <input type="checkbox" name="device" value="epd_wave"> Wave EPD
          <input type="checkbox" name="device" value="ejpd_wave"> Wave EJPD
          <input type="checkbox" name="device" value="ejpd3v_wave"> Wave EJPD3v
          <input type="checkbox" name="device" value="ext_wave"> Wave EXT
          <input type="checkbox" name="device" value="exc_wave"> Wave EXC
          <br>
          <input type="checkbox" name="device" value="bas_current"> Current Basical
          <input type="checkbox" name="device" value="epd_current"> Current EPD
          <input type="checkbox" name="device" value="ejpd_current"> Current EJPD
          <input type="checkbox" name="device" value="ext_current"> Current EXT
          <br>
          <input type="checkbox" name="device" value="bas_wind"> Wind Basical
          <input type="checkbox" name="device" value="epd_wind"> Wind EPD
          <input type="checkbox" name="device" value="ejpd_wind"> Wind EJPD
          <input type="checkbox" name="device" value="ext_wind"> Wind EXT
          <br>
          <input type="checkbox" name="device" value="bas_level"> Level Basical
          <input type="checkbox" name="device" value="epd_level"> Level EPD
          <input type="checkbox" name="device" value="ext_level"> Level EXT
    </fieldset><br>

        <input type="submit" value="Submit"><br><br>
</form>


<!-- Scripts for Dropdown menu -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<img src="https://images.unsplash.com/photo-1502209944943-85c1d6146367?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
        width="900" height="150" align="bottom">
    

  </body>
</html>

        <!--div class="col-xs-4"-->
            <!--div class="form-group"-->
            <!--label class="control-label"--><!--A file upload button without icon--><!--/label-->
            <!--input type="file" class="filestyle" data-icon="false"-->
            <!--/div-->
         <!--/div-->


