<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - DTOcean+ [SC module]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand mb-0 h1" href="/">
        <img src="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
        <!-- <span class="navbar-brand mb-0 h1"> -->
        DTOcean+ Site Characterisation module
        <!-- </span> -->
      </a>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mc-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/">DOCUMENTATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gui/foo">GUI</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          TESTS
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/api/test">Test1</a>
        </div>
      </li>
    </ul>
<!-- Navbar-nav with FORM -->
<ul class="navbar-nav">
   <form class="form-inline" action="/somepage">
      <input class="form-control ml-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
   </form>
</ul>
  </div>
</nav>

<!-- User inputs -->
<form action="/api/BAS" method="get" target="_blank">
    <fieldset>
        <legend>Site (single value example)</legend>
        Name of your project:
        <input type="text" name="site_name"><br>
        Write a description:
        <input type="text" name="site_description"><br>
    </fieldset>
    <fieldset>
        <legend>Point(s) to extract (could be a list, separated by ";")</legend>
        Point(s) name(s):
        <input type="text" name="pointnames"><br>
        Longitude(s):
        <input type="text" name="longitudes"><br>
        Latitude(s):
        <input type="text" name="latitudes"><br>
    </fieldset>
    <fieldset>
        <legend>Databases:</legend>
        Bathymetry:
        <input type="radio" name="bathy_database" value="GEBCO_Europa_downgrade20" checked> DTOceanPlus<br>
        Seabed types:
        <input type="radio" name="seabed_database" value="Seabed_Types" checked> DTOceanPlus<br>
        Seabed roughness:
        <input type="radio" name="roughness_database" value="Seabed_Roughness_Length" checked> DTOceanPlus<br>
    </fieldset>
        <input type="submit" value="Submit"><br><br>
</form>

<form action="/api/wave" method="get" target="_blank">
    <fieldset>
        <legend>Site (timeseries example)</legend>
        Name of your project:
        <input type="text" name="site_name"><br>
        Write a description:
        <input type="text" name="site_description"><br>
    </fieldset>
    <fieldset>
        <legend>Point(s) to extract (could be a list, separated by ";")</legend>
        Point(s) name(s):
        <input type="text" name="pointnames"><br>
        Longitude(s):
        <input type="text" name="longitudes"><br>
        Latitude(s):
        <input type="text" name="latitudes"><br>
    </fieldset>
    <fieldset>
        <legend>Databases:</legend>
        Waves:
        <input type="radio" name="wave_database" value="EarlyStage_Fromveur" checked> DTOceanPlus<br>
        Variable:
        <select name="wave_variable">
            <option value="hs">Hs</option>
            <option value="t">T</option>
            <option value="t02">T02</option>
        </select>
     </fieldset>
        <input type="submit" value="Submit"><br><br>
</form>


<!-- Scripts for Dropdown menu -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<img src="https://images.unsplash.com/photo-1502209944943-85c1d6146367?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
        width="900" height="150" align="bottom">
    

  </body>
</html>



