<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - DTOcean+ [SC module]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand mb-0 h1" href="/">
        <img src="http://ez5-projets.ifremer.fr/public/dtoceanplus/favicon/favicon-32x32.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
        <!-- <span class="navbar-brand mb-0 h1"> -->
        DTOcean+ Site Characterisation module
        <!-- </span> -->
      </a>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mc-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/">DOCUMENTATION</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          TESTS
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/api/test">Test1</a>
        </div>
      </li>
    </ul>
<!-- Navbar-nav with FORM -->
<ul class="navbar-nav">
   <form class="form-inline" action="/somepage">
      <input class="form-control ml-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
   </form>
</ul>
  </div>
</nav>

<!-- User inputs -->
<form action="/api/earlymid" method="get" target="_blank">
    <fieldset>
        <legend>Site (timeseries example)</legend>
        Name of your project:
        <input type="text" name="site_name"><br>
        Write a description:
        <input type="text" name="site_description"><br>
    </fieldset>
    <fieldset>
        <legend>Working stage</legend>
        Choose your stage level:
          <input type="radio" name="stage" value="early"> Early
          <input type="radio" name="stage" value="mid"> Mid
          <input type="radio" name="stage" value="late"> Late<br>
     </fieldset>
    <fieldset>
        <legend>Waves:</legend>
        Level of energy:
        <select name="Wave_energy_level">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
        Variable:
        <select name="wave_variable">
            <option value="hs">Hs</option>
            <option value="t">T</option>
            <option value="t02">T02</option>
        </select>
     </fieldset>
    <fieldset>
        <legend>Currents:</legend>
        Level of energy:
        <select name="Current_energy_level">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
        Variable:
        <select name="current_variable">
            <option value="U">U</option>
            <option value="V">V</option>
        </select>
     </fieldset>
    <fieldset>
        <legend>Winds:</legend>
        Do you need wind timeseries ?:
          <input type="radio" name="wind_need" value="yes"> Yes
          <input type="radio" name="wind_need" value="no"> No<br>
        Variable:
        <select name="wind_variable">
            <option value="U10">U10</option>
            <option value="V10">V10</option>
        </select>
     </fieldset>
    <fieldset>
        <legend>Water levels:</legend>
        Do you need water levels timeseries ?:
          <input type="radio" name="level_need" value="yes"> Yes
          <input type="radio" name="level_need" value="no"> No<br>
        Variable:
        <select name="level_variable">
            <option value="XE">XE</option>
            <option value="WLEV">WLEV</option>
        </select>
     </fieldset>

        <input type="submit" value="Submit"><br><br>
</form>


<!-- Scripts for Dropdown menu -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<img src="https://images.unsplash.com/photo-1502209944943-85c1d6146367?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
        width="900" height="150" align="bottom">
    

  </body>
</html>

        <!--div class="col-xs-4"-->
            <!--div class="form-group"-->
            <!--label class="control-label"--><!--A file upload button without icon--><!--/label-->
            <!--input type="file" class="filestyle" data-icon="false"-->
            <!--/div-->
         <!--/div-->


