<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - DTOcean+ Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% include "layout/head.html" %}
  </head>
  <body>
    {% include "header.html" %}
    <div id="header" >{% block header %}{% endblock %}</div>
    <div id="content">
      <div id="app">
        {% block content %}{% endblock %}
      </div>
    </div>
    <dtocean-main-test></dtocean-main-test>
    <div id="footer">{% block footer %}{% endblock %}</div>

    <script src="http://localhost:8081/dist/build.js"></script>
  </body>
</html>
