<!--
This is the Site Characterisation module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Youen Kervella, Nicolas Michelet, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <img src="@/assets/logos/Waves.png" alt="end spe" width="90" height="90" align="left">

    <tr>
      <td style="width:20%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> Waves </h1>
      </td>
      <td style="width:20%;background-color: white; border:none;text-align:right">
        <template v-if="Project.name != 'none'">
          <h2 class="h2_section">Name of the Entity : <span style="color:#16a085">{{ Project.name }}</span></h2>
        </template>
      </td>
    </tr>

    <template v-if="waves_basics === false">
      <ul>
        <span style="font-weight:bold;font-size:18px"> No results available. Load/Create or Run your current entity before access to this page. </span>
      </ul>
    </template>

    <template v-else-if="waves_basics === 'running'">
      <ul>
        <span style="font-weight:bold;font-size:18px"> The calculation is in progress </span>
      </ul>
    </template>

    <template v-else>
      <span style="font-weight:bold;font-size:18px"> Waves results <i class="el-icon-info" style="margin-left:5px;cursor:pointer" @click.prevent="openSidebar" /> </span>
      <br><br>
      <ul>
        <table>
          <tr>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Variable name </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Minimum </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Maximum </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Mean </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Median </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> STD </td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-family:Open Sans"> Hs [m] </td>
            <td> {{ Math.round(waves_basics.hs.min*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.hs.max*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.hs.mean*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.hs.median*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.hs.std*100)/100 }} </td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-family:Open Sans"> Tp [s] </td>
            <td> {{ Math.round(waves_basics.tp.min*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.tp.max*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.tp.mean*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.tp.median*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.tp.std*100)/100 }} </td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-family:Open Sans"> CgE [kW/m] </td>
            <td> {{ Math.round(waves_basics.CgE.min*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.CgE.max*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.CgE.mean*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.CgE.median*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.CgE.std*100)/100 }} </td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-family:Open Sans"> Gamma </td>
            <td> {{ Math.round(waves_basics.gamma.min*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.gamma.max*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.gamma.mean*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.gamma.median*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.gamma.std*100)/100 }} </td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-family:Open Sans"> Spr [°] </td>
            <td> {{ Math.round(waves_basics.spr.min*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.spr.max*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.spr.mean*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.spr.median*100)/100 }} </td>
            <td> {{ Math.round(waves_basics.spr.std*100)/100 }} </td>
          </tr>
        </table>
      </ul>
      <div style="overflow: hidden">
        <br>
        <el-switch
          v-model="switch_wave"
          active-text="Windrose format"
          inactive-text="EJPD format">
        </el-switch>
        <br><br>
        <el-row>
          <template v-if="switch_wave == false">
            <el-col :lg="13">
              <el-row>
                <span style="font-weight:bold"> EJPD Hs-Dp <i class="el-icon-info" style="margin-left:5px;cursor:pointer" @click.prevent="openSidebar2" /> </span>
              </el-row>
              <el-row>
                <img :src="image1">
              </el-row>
            </el-col>
          </template>
          <template v-else>
            <el-col :lg="13">
              <el-row>
                <span style="font-weight:bold"> Windrose Hs-Dp <i class="el-icon-info" style="margin-left:5px;cursor:pointer" @click.prevent="openSidebar22" /> </span>
              </el-row>
              <el-row>
                <img :src="image3" width="550">
              </el-row>
            </el-col>
          </template>
          <el-col :lg="6">
            <el-row>
              <span style="font-weight:bold"> EJPD Hs-Tp <i class="el-icon-info" style="margin-left:5px;cursor:pointer" @click.prevent="openSidebar3" /> </span>
            </el-row>
            <el-row>
              <img :src="image2">
            </el-row>
          </el-col>
        </el-row>
      </div>
    </template>
    <br><br>

    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      image1: '',
      image2: '',
      image3: '',
      test: ''
    }
  },
  computed: {
    ...mapState(['Project', 'waves_basics', 'waves_ext', 'currents_basics', 'currents_ext', 'winds_basics', 'winds_ext', 'waterlevels_basics', 'waterlevels_ext', 'switch_wave']),
    switch_wave: {
      get () {
        return this.$store.state.switch_wave
      },
      set (newValue) {
        return this.$store.dispatch('set_switch_waveAction', newValue)
      }
    }
  },
  beforeMount() {
    if (this.waves_basics != false) {
      this.GetImage()
    }
  },
  methods: {
    GetImage() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Project.entity_id}/${this.Project.name}/GetWaveImage`
      return axios.post(path)
        .then((res) => {
          this.image1 = `data:image/png;base64, ${res.data[0]}`
          this.image2 = `data:image/png;base64, ${res.data[1]}`
          this.image3 = `data:image/png;base64, ${res.data[2]}`
        })
    },
    async openSidebar() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Overview of waves results',
        message: '<span>This table presents an overview of wave conditions giving for each main wave parameters the basic statistics (minimum, maximum, average, median and standard deviation).</span>' +
        '<h3> Acronyms </h3> <span><b>StD</b>: Standard Deviation<br> <b>Hs</b>: significant wave height<br> <b>Tp</b>: wave peak period<br> <b>CgE</b>: wave energy flux<br> <b> Gamma</b>: JONSWAP peak factor<br> <b> Spr</b>: wave directional spreading</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'EJPD Hs-Dp',
        message: '<span>This figure shows the Empirical Joint Probability Distribution (EJPD) of significant wave height (Hs) and wave peak direction (Dp).<br> Dp is given in ° within a meteorological convention (coming from).</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar3() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'EJPD Hs-Tp',
        message: '<span>This figure shows the Empirical Joint Probability Distribution (EJPD) of significant wave height (Hs) and wave peak period (Tp).</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar22() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Windrose Hs-Dp',
        message: '<span>This figure shows the windrose of significant wave height (Hs) and wave peak direction (Dp).<br> Dp is given in ° within a meteorological convention (coming from).</span>',
        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

.h2_section {
    user-select: none;
      font-size: 25px
}

body { min-width: 1050px; }

span { font-family: "Open Sans" }

h1, h2, h3, h4 { font-family: "Rajdhani"}
</style>
