<!--
This is the Site Characterisation module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Youen Kervella, Nicolas Michelet, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <img src="@/assets/logos/Overview.png" alt="end spe" width="90" height="90" align="left">

    <tr>
      <td style="width:20%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> Overview </h1>
      </td>
      <td style="width:20%;background-color: white; border:none;text-align:right">
        <template v-if="Project.name != 'none'">
          <h2 class="h2_section">Name of the Entity : <span style="color:#16a085">{{ Project.name }}</span></h2>
        </template>
      </td>
    </tr>

    <template v-if="waves_basics === false">
      <ul>
        <span style="font-weight:bold;font-size:18px"> No results available. Load/Create or Run your current entity before access to this page. </span>
      </ul>
    </template>

    <template v-else-if="waves_basics === 'running'">
      <ul>
        <span style="font-weight:bold;font-size:18px"> The calculation is in progress </span>
      </ul>
    </template>

    <template v-else>

      <ul>
        <table style="width:40%;border:none;background-color:white">
          <tr>
            <td style="width:10%;border:none;background-color:white">
              <span style="font-weight:bold"> Longitude : </span>
            </td>
            <td style="width:20%;border:none;background-color:white">
              {{ Math.round(waves_basics.spr.longitude*100)/100 }} °
            </td>
            <td style="width:10%;border:none;background-color:white">
              <span style="font-weight:bold"> Latitude : </span>
            </td>
            <td style="width:20%;border:none;background-color:white">
              {{ Math.round(waves_basics.spr.latitude*100)/100 }} °
            </td>
          </tr>
        </table>
        <br>
        <span style="font-weight:bold;font-size:18px"> Overview of meteocean conditions <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar" /> </span>
        <br><br>
        <ul>
          <table>
            <tr>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> Variable / Statistics </td>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> Min </td>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> Mean </td>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> Max </td>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> StD </td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Open Sans"> Waves<br>Hs [m] </td>
              <td> {{ Math.round(waves_basics.hs.min*100)/100 }} </td>
              <td> {{ Math.round(waves_basics.hs.mean*100)/100 }} </td>
              <td> {{ Math.round(waves_basics.hs.max*100)/100 }} </td>
              <td> {{ Math.round(waves_basics.hs.std*100)/100 }} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Open Sans"> Currents<br>Mag [m/s] </td>
              <td> {{ Math.round(currents_basics.mag.min*100)/100 }} </td>
              <td> {{ Math.round(currents_basics.mag.mean*100)/100 }} </td>
              <td> {{ Math.round(currents_basics.mag.max*100)/100 }} </td>
              <td> {{ Math.round(currents_basics.mag.std*100)/100 }} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Open Sans"> Winds<br>Mag10 [m/s] </td>
              <td> {{ Math.round(winds_basics.mag10.min*100)/100 }} </td>
              <td> {{ Math.round(winds_basics.mag10.mean*100)/100 }} </td>
              <td> {{ Math.round(winds_basics.mag10.max*100)/100 }} </td>
              <td> {{ Math.round(winds_basics.mag10.std*100)/100 }} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Open Sans"> Water depth + Sea Surface Height [m] </td>
              <td> {{ Math.round(waterlevels_basics.WLEV.min*100)/100 }} </td>
              <td> {{ Math.round(waterlevels_basics.WLEV.mean*100)/100 }} </td>
              <td> {{ Math.round(waterlevels_basics.WLEV.max*100)/100 }} </td>
              <td> {{ Math.round(waterlevels_basics.WLEV.std*100)/100 }} </td>
            </tr>
          </table>
        </ul>
        <br><br>
        <span style="font-weight:bold;font-size:18px"> Extreme value of meteocean conditions <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar2" /> </span>
        <br><br>
        <ul>
          <table>
            <tr>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> Variable / RP </td>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> 1 year </td>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> 5 years </td>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> 10 years </td>
              <td style="width:180px;font-weight:bold;font-family:Open Sans"> 50 years </td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Open Sans"> Waves<br>Hs [m] </td>
              <td> {{ waves_ext.hs.return_values[0] }} </td>
              <td> {{ waves_ext.hs.return_values[1] }} </td>
              <td> {{ waves_ext.hs.return_values[2] }} </td>
              <td> {{ waves_ext.hs.return_values[3] }} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Open Sans"> Currents<br>Mag [m/s] </td>
              <td> {{ currents_ext.mag.return_values[0] }} </td>
              <td> {{ currents_ext.mag.return_values[1] }} </td>
              <td> {{ currents_ext.mag.return_values[2] }} </td>
              <td> {{ currents_ext.mag.return_values[3] }} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Open Sans"> Winds<br>Mag10 [m/s] </td>
              <td> {{ winds_ext.mag10.return_values[0] }} </td>
              <td> {{ winds_ext.mag10.return_values[1] }} </td>
              <td> {{ winds_ext.mag10.return_values[2] }} </td>
              <td> {{ winds_ext.mag10.return_values[3] }} </td>
            </tr>
          </table>
        </ul>
        
      </ul>
    </template>

    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['Project', 'waves_basics', 'waves_ext', 'currents_basics', 'currents_ext', 'winds_basics', 'winds_ext', 'waterlevels_basics', 'waterlevels_ext']),
  },
  methods: {
    async openSidebar() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Overview of meteocean conditions',
        message: '<span>This table presents an overview of metocean conditions giving for each main physical parameters the basic statistics (minimum, average, maximum and standard deviation).</span>' +
          '<h3> Acronyms </h3> <span><b>StD</b>: Standard Deviation<br> <b>Hs</b>: significant wave height<br> <b>Mag</b>: depth-averaged tidal current magnitude<br> <b>Mag10</b>: 10m-wind magnitude<br> <b> WLEV</b>: water level, bathymetry + surface fluctuations.</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Extreme value of meteocean conditions',
        message: '<span>This table presents the extreme values of metocean conditions giving for each main physical parameters (waves, tidal currents and winds).</span><br>' +
          '<span>In this module, GEV (Generalized Extreme Values distribution) is used to compute the extreme values of tidal currents and the GPD (Generalized Pareto Distribution) is used to compute the extreme values of waves and winds.</span> <br>' +
          '<span>More information is available in the Site Characterisation User Manual.</span><br>' +
          '<h3> Acronyms </h3> <span><b>RP</b>: Return period<br> <b>Hs</b>: significant wave height<br> <b>Mag</b>: tidal current magnitude<br> <b>Mag10</b>: 10m-wind magnitude.</span>',
        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

.h2_section {
    user-select: none;
      font-size: 25px
}

table {
  border-collapse: collapse;
  border: 1.5px solid #444444;
  border-radius: 3px;
  background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1px solid #a9a3a3;
  text-align: center;
}

th.active {
  color: #0400ff;
}

th.active .arrow {
  opacity: 1;
}

body { min-width: 1050px; }

span { font-family: "Open Sans" }

h1, h2, h3, h4 { font-family: "Rajdhani"}
</style>
