<!--
This is the Site Characterisation module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Youen Kervella, Nicolas Michelet, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
        
    <img src="@/assets/logos/inputs.png" alt="end spe" width="90" height="90" align="left">

    <tr>
      <td style="width:20%; border:none; text-align:left">
        <h1> Inputs </h1>
      </td>
      <td style="width:20%; text-align:right; border:none">
        <h2 class="h2_section"> Name of the Entity : <span style="color:#16a085">{{ Project.name }}</span></h2>
      </td>
    </tr>

    <template v-if="this.Project.complexity_level === 0">
      <ul>
        <span style="font-weight:bold;font-size:18px"> No entity were created. Go back to the Main Module to create one. </span>
      </ul>
    </template>
    
    <template v-else>
      <template v-if="Project.complexity_level === 1 || Project.complexity_level === '1'">
        <h2>
          Geometries
        </h2>
        
        <el-alert
          type="warning"
          title="Lease area and Corridor"
          description="At complexity level 1, the lease area and the corridor are automatically selected regarding the wave/current levels of energy."
          :closable="false"
          show-icon
        />

        <h2>
          Databases <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar" />
        </h2>

        <ul>
          <table style="width:90%;background-color:white;border:none">
            <tr>
              <td style="width:15%;background-color:white;border:none;text-align:left">
                <span style=";font-weight:bold;font-size:15px">Wave level<br>of energy :</span>
              </td>
              <td style="width:25%;background-color:white;border:none;text-align:left">
                <el-select v-model="Project.wave" @change="RunStatus ='';Check_cplx12();Increase_status('cplx12')">
                  <el-option label="Low" value="low" />
                  <el-option label="Medium" value="medium" />
                  <el-option label="High" value="high" />
                </el-select>
              </td>
              <td style="width:11%;background-color:white;border:none;text-align:left">
                <span style=";font-weight:bold;font-size:15px">Current level<br>of energy :</span>
              </td>
              <td style="width:27%;background-color:white;border:none;text-align:left">
                <el-select v-model="Project.current" @change="RunStatus ='';Check_cplx12();Increase_status('cplx12')">
                  <el-option label="Low" value="low" />
                  <el-option label="Medium" value="medium" />
                  <el-option label="High" value="high" />
                </el-select>
              </td>
            </tr>
          </table>
        </ul>

        <h2>
          Bathymetry <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar2" />
        </h2>

        <ul>
          <table style="width:90%;background-color:white;border:none">
            <tr>
              <td style="width:20%;background-color:white;border:none;text-align:left">
                <span style=";font-weight:bold;font-size:15px">Is a uniform<br>depth required :</span>
              </td>
              <td style="width:12%;background-color:white;border:none;text-align:left;height:60px">
                  <el-switch
                    v-model="Project.uniform_bathy"
                    active-text="Yes"
                    inactive-text="No"
                    @change="RunStatus ='';Check_cplx12()">
                  </el-switch>
              </td>
              <template v-if="Project.uniform_bathy === true">
                <td style="width:20%;background-color:white;border:none" />
                <td style="width:14%;text-align:left;background-color:white;border:none">
                  <span style=";font-weight:bold;font-size:15px">Depth<br>value :</span>
                </td>
                <td style="width:16%;text-align:left;background-color:white;border:none">
                  <el-input v-model="Project.bathymetry" type="number" style="width:175px" step="any" @change="RunStatus ='';Check_cplx12()" />
                </td>
                <td style="text-align:left;background-color:white;border:none">
                  <span> [m] </span>
                </td>
              </template>
              <template v-else>
                <td style="width:80%;background-color:white;border:none" />
              </template>
            </tr>
          </table>
        </ul>

      </template>

      <template v-else-if="Project.complexity_level === 2 || Project.complexity_level === '2'">
        <h2>
          Geometries
        </h2>
        
        <el-alert
          type="warning"
          title="Lease area and Corridor"
          description="At complexity level 2, the lease area and the corridor are automatically selected regarding the wave/current levels of energy."
          :closable="false"
          show-icon
        />

        <h2>
          Databases <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar" />
        </h2>

        <ul>
          <table style="width:90%;background-color:white;border:none">
            <tr>
              <td style="width:15%;background-color:white;border:none;text-align:left">
                <span style=";font-weight:bold;font-size:15px">Wave level<br>of energy :</span>
              </td>
              <td style="width:25%;background-color:white;border:none;text-align:left">
                <el-select v-model="Project.wave" @change="RunStatus ='';Check_cplx12();Increase_status('cplx12')">
                  <el-option label="Low" value="low" />
                  <el-option label="Medium" value="medium" />
                  <el-option label="High" value="high" />
                </el-select>
              </td>
              <td style="width:11%;background-color:white;border:none;text-align:left">
                <span style=";font-weight:bold;font-size:15px">Current level<br>of energy :</span>
              </td>
              <td style="width:27%;background-color:white;border:none;text-align:left">
                <el-select v-model="Project.current" @change="RunStatus ='';Check_cplx12();Increase_status('cplx12')">
                  <el-option label="Low" value="low" />
                  <el-option label="Medium" value="medium" />
                  <el-option label="High" value="high" />
                </el-select>
              </td>
            </tr>
          </table>
        </ul>

        <h2>
          Bathymetry <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar2" />
        </h2>

        <ul>
          <table style="width:90%;background-color:white;border:none">
            <tr>
              <td style="width:20%;background-color:white;border:none;text-align:left">
                <span style=";font-weight:bold;font-size:15px">Is a uniform<br>depth required :</span>
              </td>
              <td style="width:12%;background-color:white;border:none;text-align:left;height:60px">
                  <el-switch
                    v-model="Project.uniform_bathy"
                    active-text="Yes"
                    inactive-text="No"
                    @change="RunStatus ='';Check_cplx12()">
                  </el-switch>
              </td>
              <template v-if="Project.uniform_bathy === true">
                <td style="width:20%;background-color:white;border:none" />
                <td style="width:14%;text-align:left;background-color:white;border:none">
                  <span style=";font-weight:bold;font-size:15px">Depth<br>value :</span>
                </td>
                <td style="width:16%;text-align:left;background-color:white;border:none">
                  <el-input v-model="Project.bathymetry" type="number" style="width:175px" step="any" @change="RunStatus ='';Check_cplx12()" />
                </td>
                <td style="text-align:left;background-color:white;border:none">
                  <span> [m] </span>
                </td>
              </template>
              <template v-else>
                <td style="width:80%;background-color:white;border:none" />
              </template>
            </tr>
          </table>
        </ul>
      </template>

      <template v-else-if="Project.complexity_level === 3 || Project.complexity_level === '3'">
        
        <el-alert
          type="warning"
          title="Import files !"
          description="All imported files are copied into the source code of the module so you can find then later in the select list under the default databases choices.
          When you import files for the lease area and the corridor, make sure that all four files (.shp/.shx/.prj/.dbf) are named using the same root. The module will then copy these files into a folder using this root name. You would then find this folder in the select list."
          :closable="false"
          show-icon
        />

        <h2>
          Geometries <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar3" />
        </h2>

        <table style="width:100%;border:none;background-color:white">
          <tr>
            <td style="width:15%;border:none;background-color:white">
              <span style=";font-weight:bold;font-size:15px">Lease area :</span>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <el-select v-model="Project.selected_lease" @change="RunStatus = '';DefineLease();status_cplx3[0] = 1;Increase_status('cplx3')" style="width:350px">
                <el-option value="Example_lease_area" style="font-size:15px"> Example_lease_area </el-option>
                <el-option value="RM1_lease_area_WGS84" style="font-size:15px"> RM1_lease_area_WGS84 </el-option>
                <el-option value="RM3_lease_area_WGS84" style="font-size:15px"> RM3_lease_area_WGS84 </el-option>
                <el-option value="E2RM1_lease_area" style="font-size:15px"> E2RM1_lease_area </el-option>
                <el-option value="E2RM3_lease_area" style="font-size:15px"> E2RM3_lease_area </el-option>
                <div v-for="(item,index) in lease_files_list" :key="index">
                  <el-option :value="lease_files_list[index]" style="font-size:15px"> {{ lease_files_list[index] }} </el-option>
                </div>
                <el-option value="Import" style="font-size:15px"> Import </el-option>
              </el-select>
            </td>
            <td style="width:15%;border:none;background-color:white">
              <template v-if="lease_files_list.length == 0">
                <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
              </template>
              <template v-else>
                <el-button type="danger" style="font-family:Open Sans" @click="dialog_lease = true">Delete imported files</el-button>
              </template>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <template v-if="Project.selected_lease === 'Import'">
                <input type="file" ref="leasefile" accept=".shp,.shx,.prj,.dbf" multiple style="display:none" @change="handleFileUpload_lease();RunStatus ='';Check_cplx3();CheckConsistency()" />
                <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.leasefile.click()">Select Lease Files (.shp/.shx/.prj/.dbf)</el-button>
              </template>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <template v-if="(Project.lease_file_name == 0)&&(Project.selected_lease == 'Import' || Project.selected_lease.length == 0)">
                <span> No Selected File </span>
              </template>
              <template v-else-if="Project.selected_lease == 'Import'">
                <span> {{ Project.lease_file_name }} </span>
              </template>
            </td>
          </tr>
        </table>

        <el-dialog :visible.sync="dialog_lease" style="text-align:center" title="Select the file(s) to delete">
          <el-checkbox-group v-model="lease_file_to_delete">
            <el-checkbox v-for="(item, index) in lease_files_list" :key="index" :label="lease_files_list[index]">{{item}}</el-checkbox>
          </el-checkbox-group>
          <span slot="footer" class="dialog-footer">
            <template v-if="lease_file_to_delete.length == 0">
              <el-button type="success" style="font-family:Open Sans" disabled>Confirm</el-button>
            </template>
            <template v-else>
              <el-button type="success" style="font-family:Open Sans" @click="DeleteFolder('lease', lease_file_to_delete);dialog_lease = false">Confirm</el-button>
            </template>
            <el-button type="danger" style="font-family:Open Sans" @click.prevent="dialog_lease = false">Cancel</el-button>
          </span>
        </el-dialog>

        <table style="width:100%;border:none;background-color:white">
          <tr>
            <td style="width:15%;border:none;background-color:white">
              <span style=";font-weight:bold;font-size:15px">Corridor :</span>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <el-select v-model="Project.selected_corridor" @change="RunStatus = '';DefineCorridor();status_cplx3[1] = 1;Increase_status('cplx3')" style="width:350px">
                <el-option value="Example_corridor" style="font-size:15px"> Example_corridor </el-option>
                <el-option value="RM1_corridor_WGS84" style="font-size:15px"> RM1_corridor_WGS84 </el-option>
                <el-option value="RM3_corridor_WGS84" style="font-size:15px"> RM3_corridor_WGS84 </el-option>
                <el-option value="E2RM1_corridor" style="font-size:15px"> E2RM1_corridor </el-option>
                <el-option value="E2RM1_corridor_NEW" style="font-size:15px"> E2RM1_corridor_NEW </el-option>
                <el-option value="E2RM3_corridor" style="font-size:15px"> E2RM3_corridor </el-option>
                <el-option value="E2RM3_corridor_NEW" style="font-size:15px"> E2RM3_corridor_NEW </el-option>
                <div v-for="(item,index) in corridor_files_list" :key="index">
                  <el-option :value="corridor_files_list[index]" style="font-size:15px"> {{ corridor_files_list[index] }} </el-option>
                </div>
                <el-option value="Import" style="font-size:15px"> Import </el-option>
              </el-select>
            </td>
            <td style="width:15%;border:none;background-color:white">
              <template v-if="corridor_files_list.length == 0">
                <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
              </template>
              <template v-else>
                <el-button type="danger" style="font-family:Open Sans" @click="dialog_corridor = true">Delete imported files</el-button>
              </template>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <template v-if="Project.selected_corridor === 'Import'">
                <input type="file" ref="corridorfile" accept=".shp,.shx,.prj,.dbf" multiple style="display:none" @change="handleFileUpload_corridor();RunStatus ='';Check_cplx3();CheckConsistency()" />
                <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.corridorfile.click()">Select Corridor Files (.shp/.shx/.prj/.dbf)</el-button>
              </template>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <template v-if="(Project.corridor_file_name == 0)&&(Project.selected_corridor == 'Import' || Project.selected_corridor.length == 0)">
                <span> No Selected File </span>
              </template>
              <template v-else-if="Project.selected_corridor == 'Import'">
                <span> {{ Project.corridor_file_name }} </span>
              </template>
            </td>
          </tr>
        </table>

        <el-dialog :visible.sync="dialog_corridor" style="text-align:center" title="Select the file(s) to delete">
          <el-checkbox-group v-model="corridor_file_to_delete">
            <el-checkbox v-for="(item, index) in corridor_files_list" :key="index" :label="corridor_files_list[index]">{{item}}</el-checkbox>
          </el-checkbox-group>
          <span slot="footer" class="dialog-footer">
            <template v-if="corridor_file_to_delete.length == 0">
              <el-button type="success" style="font-family:Open Sans" disabled>Confirm</el-button>
            </template>
            <template v-else>
              <el-button type="success" style="font-family:Open Sans" @click="DeleteFolder('corridor', corridor_file_to_delete);dialog_corridor = false">Confirm</el-button>
            </template>
            <el-button type="danger" style="font-family:Open Sans" @click.prevent="dialog_corridor = false">Cancel</el-button>
          </span>
        </el-dialog>

        <template v-if="ConsistencyAlert == 'False'">
          <el-alert
            type="danger"
            title="Input Consistency !"
            description="The Lease area and the corridor seem not to be in the same study site. The module can be run this way but the results will be at two different sites. It is recommended to check your inputs."
            :closable="false"
            show-icon
          />
        </template>

        <h2>
          Databases <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar4" />
        </h2>

        <table style="width:100%;border:none;background-color:white">
          <tr>
            <td style="width:15%;border:none;background-color:white">
              <span style=";font-weight:bold;font-size:15px">Seabed type :</span>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <el-select v-model="Project.selected_seabed" @change="RunStatus = '';DefineSeabed();status_cplx3[2] = 1;Increase_status('cplx3')" style="width:350px">
                <el-option value="World_SEABED-TYPE_SHOM_9km" style="font-size:15px"> World_SEABED-TYPE_SHOM_9km </el-option>
                <el-option value="France_SEABED-TYPE_SHOM_450m" style="font-size:15px"> France_SEABED-TYPE_SHOM_450m </el-option>
                <div v-for="(item,index) in seabed_files_list" :key="index">
                  <el-option :value="seabed_files_list[index]" style="font-size:15px"> {{ seabed_files_list[index] }} </el-option>
                </div>
                <el-option value="Import" style="font-size:15px"> Import </el-option>
              </el-select>
            </td>
            <td style="width:15%;border:none;background-color:white">
              <template v-if="seabed_files_list.length == 0">
                <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
              </template>
              <template v-else>
                <el-button type="danger" style="font-family:Open Sans" @click="dialog_seabed = true">Delete imported files</el-button>
              </template>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <template v-if="Project.selected_seabed === 'Import'">
                <input type="file" ref="seabedfile" accept=".nc" style="display:none" @change="handleFileUpload_seabed();RunStatus ='';Check_cplx3()" />
                <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.seabedfile.click()">Select Seabed File (.nc)</el-button>
              </template>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <template v-if="(Project.seabed_file_name == 0)&&(Project.selected_seabed == 'Import' || Project.selected_seabed.length == 0)">
                <span> No Selected File </span>
              </template>
              <template v-else-if="Project.selected_seabed == 'Import'">
                <span> {{ Project.seabed_file_name }} </span>
              </template>
            </td>
          </tr>
        </table>

        <el-dialog :visible.sync="dialog_seabed" style="text-align:center" title="Select the file(s) to delete">
          <el-checkbox-group v-model="seabed_file_to_delete">
            <el-checkbox v-for="(item, index) in seabed_files_list" :key="index" :label="seabed_files_list[index]">{{item}}</el-checkbox>
          </el-checkbox-group>
          <span slot="footer" class="dialog-footer">
            <template v-if="seabed_file_to_delete.length == 0">
              <el-button type="success" style="font-family:Open Sans" disabled>Confirm</el-button>
            </template>
            <template v-else>
              <el-button type="success" style="font-family:Open Sans" @click="DeleteFile('seabed', seabed_file_to_delete);dialog_seabed = false">Confirm</el-button>
            </template>
            <el-button type="danger" style="font-family:Open Sans" @click.prevent="dialog_seabed = false">Cancel</el-button>
          </span>
        </el-dialog>

        <table style="width:100%;border:none;background-color:white">
          <tr>
            <td style="width:15%;border:none;background-color:white">
              <span style=";font-weight:bold;font-size:15px">Roughness length :</span>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <el-select v-model="Project.selected_roughness" @change="RunStatus = '';DefineRoughness();status_cplx3[3] = 1;Increase_status('cplx3')" style="width:350px">
                <el-option value="World_SEABED-ROUGHNESS-LENGTH_SHOM_9km" style="font-size:15px"> World_SEABED-ROUGHNESS-LENGTH_SHOM_9km </el-option>
                <el-option value="France_SEABED-ROUGHNESS-LENGTH_SHOM_450m" style="font-size:15px"> France_SEABED-ROUGHNESS-LENGTH_SHOM_450m </el-option>
                <div v-for="(item,index) in roughness_files_list" :key="index">
                  <el-option :value="roughness_files_list[index]" style="font-size:15px"> {{ roughness_files_list[index] }} </el-option>
                </div>
                <el-option value="Import" style="font-size:15px"> Import </el-option>
              </el-select>
            </td>
            <td style="width:15%;border:none;background-color:white">
              <template v-if="roughness_files_list.length == 0">
                <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
              </template>
              <template v-else>
                <el-button type="danger" style="font-family:Open Sans" @click="dialog_roughness = true">Delete imported files</el-button>
              </template>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <template v-if="Project.selected_roughness === 'Import'">
                <input type="file" ref="roughnessfile" accept=".nc" style="display:none" @change="handleFileUpload_roughness();RunStatus ='';Check_cplx3()" />
                <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.roughnessfile.click()">Select Roughness File (.nc)</el-button>
              </template>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <template v-if="(Project.roughness_file_name == 0)&&(Project.selected_roughness == 'Import' || Project.selected_roughness.length == 0)">
                <span> No Selected File </span>
              </template>
              <template v-else-if="Project.selected_roughness == 'Import'">
                <span> {{ Project.roughness_file_name }} </span>
              </template>
            </td>
          </tr>
        </table>

        <el-dialog :visible.sync="dialog_roughness" style="text-align:center" title="Select the file(s) to delete">
          <el-checkbox-group v-model="roughness_file_to_delete">
            <el-checkbox v-for="(item, index) in roughness_files_list" :key="index" :label="roughness_files_list[index]">{{item}}</el-checkbox>
          </el-checkbox-group>
          <span slot="footer" class="dialog-footer">
            <template v-if="roughness_file_to_delete.length == 0">
              <el-button type="success" style="font-family:Open Sans" disabled>Confirm</el-button>
            </template>
            <template v-else>
              <el-button type="success" style="font-family:Open Sans" @click="DeleteFile('roughness', roughness_file_to_delete);dialog_roughness = false">Confirm</el-button>
            </template>
            <el-button type="danger" style="font-family:Open Sans" @click.prevent="dialog_roughness = false">Cancel</el-button>
          </span>
        </el-dialog>

        <table style="width:100%;border:none;background-color:white">
          <tr>
            <td style="width:15%;border:none;background-color:white">
              <span style=";font-weight:bold;font-size:15px">Species :</span>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <el-select v-model="Project.selected_species" @change="RunStatus = '';DefineSpecies();status_cplx3[4] = 1;Increase_status('cplx3')" style="width:350px">
                <el-option value="World_species_9km" style="font-size:15px"> World_species_9km </el-option>
                <div v-for="(item,index) in species_files_list" :key="index">
                  <el-option :value="species_files_list[index]" style="font-size:15px"> {{ species_files_list[index] }} </el-option>
                </div>
                <el-option value="Import" style="font-size:15px"> Import </el-option>
              </el-select>
            </td>
            <td style="width:15%;border:none;background-color:white">
              <template v-if="species_files_list.length == 0">
                <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
              </template>
              <template v-else>
                <el-button type="danger" style="font-family:Open Sans" @click="dialog_species = true">Delete imported files</el-button>
              </template>
            </td>
            <td style="width:25%;border:none;background-color:white">
              <template v-if="Project.selected_species === 'Import'">
                <input type="file" ref="speciesfile" accept=".nc" style="display:none" @change="handleFileUpload_species();RunStatus ='';Check_cplx3()" />
                <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.speciesfile.click()">Select Species File (.nc)</el-button>
              </template>
            </td>
            <td style="width:30%;border:none;background-color:white">
              <template v-if="(Project.species_file_name == 0)&&(Project.selected_species == 'Import' || Project.selected_species.length == 0)">
                <span> No Selected File </span>
              </template>
              <template v-else-if="Project.selected_species == 'Import'">
                <span> {{ Project.species_file_name }} </span>
              </template>
            </td>
          </tr>
        </table>

        <el-dialog :visible.sync="dialog_species" style="text-align:center" title="Select the file(s) to delete">
          <el-checkbox-group v-model="species_file_to_delete">
            <el-checkbox v-for="(item, index) in species_files_list" :key="index" :label="species_files_list[index]">{{item}}</el-checkbox>
          </el-checkbox-group>
          <span slot="footer" class="dialog-footer">
            <template v-if="species_file_to_delete.length == 0">
              <el-button type="success" style="font-family:Open Sans" disabled>Confirm</el-button>
            </template>
            <template v-else>
              <el-button type="success" style="font-family:Open Sans" @click="DeleteFile('species', species_file_to_delete);dialog_species = false">Confirm</el-button>
            </template>
            <el-button type="danger" style="font-family:Open Sans" @click.prevent="dialog_species = false">Cancel</el-button>
          </span>
        </el-dialog>

        <el-alert
          type="warning"
          description="Please note:
          1/ that the duration of the timeseries you upload will impact the quality of the results of all DTOcean+ modules.
          A 5-year timeseries is requested to compute with confidence the annual energy production.
          2/ if you use a 2D timeseries, a 1D (point at the middle of the lease area for example) one is needed too, within the same name as the 2D file ('my_file_2D.csv' and 'my_file_1D.csv for example')"
          :closable="false"
          show-icon
        />

        
        <table style="width:500px;border:none;background-color:white">
          <tr>
            <td style="width:300px;border:none;background-color:white">
              <span style=";font-weight:bold;font-size:15px">2D Timeseries :</span>
            </td>
            <td style="width:100px;border:none;background-color:white">
              <el-switch
                v-model="TS_switch"
                active-text="Yes"
                inactive-text="No">
              </el-switch>
            </td>
          </tr>
        </table>
        <br>
        <el-alert
          type="warning"
          title="Warning !"
          description="Note that timeseries of tidal current must be depth-averaged ones."
          :closable="false"
          show-icon
        />
        <br>
        <table style="width:100%;border:none;background-color:white">
          <br>
          <template v-if="TS_switch == false">
            <tr>
              <td style="width:15%;border:none;background-color:white">
                <span style=";font-weight:bold;font-size:15px">Timeseries :</span>
                <div class="v-cloak">
                  {{ Project.selected_ts2 = '' }}
                </div>
              </td>
              <td style="width:30%;border:none;background-color:white">
                <el-select v-model="Project.selected_ts" @change="RunStatus = '';DefineTimeseries();status_cplx3[5] = 1;Increase_status('cplx3')" style="width:350px">
                  <el-option value="TimeSeries1D_example" style="font-size:15px"> TimeSeries1D_example </el-option>
                  <el-option value="TimeSeries1D_example_MINI" style="font-size:15px"> TimeSeries1D_example_MINI </el-option>
                  <el-option value="TimeSeries1D_RM1_TAKOMA" style="font-size:15px"> TimeSeries1D_RM1_TAKOMA </el-option>
                  <el-option value="TimeSeries1D_RM3_EUREKA" style="font-size:15px"> TimeSeries1D_RM3_EUREKA </el-option>
                  <el-option value="TimesSeries1D_E2RM1" style="font-size:15px"> TimesSeries1D_E2RM1 </el-option>
                  <el-option value="TimesSeries1D_E2RM3" style="font-size:15px"> TimesSeries1D_E2RM3 </el-option>
                  <div v-for="(item,index) in timeseries_files_list" :key="index">
                    <el-option :value="timeseries_files_list[index]" style="font-size:15px"> {{ timeseries_files_list[index] }} </el-option>
                  </div>
                  <el-option value="Import" style="font-size:15px"> Import </el-option>
                </el-select>
              </td>
              <td style="width:15%;border:none;background-color:white">
                <template v-if="timeseries_files_list.length == 0">
                  <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
                </template>
                <template v-else>
                  <el-button type="danger" style="font-family:Open Sans" @click="dialog_timeseries = true">Delete imported files</el-button>
                </template>
              </td>
              <td style="width:25%;border:none;background-color:white">
                <template v-if="Project.selected_ts === 'Import'">
                  <input type="file" ref="timeseriesfile" accept=".nc,.csv" style="display:none" @change="handleFileUpload_TS();RunStatus ='';Check_cplx3()" />
                  <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.timeseriesfile.click()">Select Time Series File (.nc or .csv)</el-button>
                </template>
              </td>
              <td style="width:30%;border:none;background-color:white">
                <template v-if="(Project.ts_file_name.length == 0)&&(Project.selected_ts == 'Import' || Project.selected_ts.length == 0)">
                  <span> No Selected File </span>
                </template>
                <template v-else-if="Project.selected_ts == 'Import'">
                  <span> {{ Project.ts_file_name }} </span>
                </template>
              </td>
            </tr>
          </template>
          <template v-else-if="TS_switch == true">
            <tr>
              <td style="width:15%;border:none;background-color:white">
                <span style=";font-weight:bold;font-size:15px">Timeseries (1D file) :</span>
              </td>
              <td style="width:30%;border:none;background-color:white">
                <el-select v-model="Project.selected_ts" @change="RunStatus = '';DefineTimeseries();status_cplx3[5] = 1;Increase_status('cplx3')" style="width:350px">
                  <el-option value="TimeSeries1D_example" style="font-size:15px"> TimeSeries1D_example </el-option>
                  <el-option value="TimeSeries1D_example_MINI" style="font-size:15px"> TimeSeries1D_example_MINI </el-option>
                  <el-option value="TimesSeries1D_E2RM1" style="font-size:15px"> TimesSeries1D_E2RM1 </el-option>
                  <el-option value="TimesSeries1D_E2RM3" style="font-size:15px"> TimesSeries1D_E2RM3 </el-option>
                  <div v-for="(item,index) in timeseries_files_list" :key="index">
                    <el-option :value="timeseries_files_list[index]" style="font-size:15px"> {{ timeseries_files_list[index] }} </el-option>
                  </div>
                  <el-option value="Import" style="font-size:15px"> Import </el-option>
                </el-select>
              </td>
              <td style="width:15%;border:none;background-color:white">
                <template v-if="timeseries_files_list.length == 0">
                  <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
                </template>
                <template v-else>
                  <el-button type="danger" style="font-family:Open Sans" @click="dialog_timeseries = true">Delete imported files</el-button>
                </template>
              </td>
              <td style="width:25%;border:none;background-color:white">
                <template v-if="Project.selected_ts === 'Import'">
                  <input type="file" ref="timeseriesfile" accept=".nc,.csv" style="display:none" @change="handleFileUpload_TS();RunStatus ='';Check_cplx3()" />
                  <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.timeseriesfile.click()">Select Time Series File (.nc or .csv)</el-button>
                </template>
              </td>
              <td style="width:30%;border:none;background-color:white">
                <template v-if="(Project.ts_file_name.length == 0)&&(Project.selected_ts == 'Import' || Project.selected_ts.length == 0)">
                  <span> No Selected File </span>
                </template>
                <template v-else-if="Project.selected_ts == 'Import'">
                  <span> {{ Project.ts_file_name }} </span>
                </template>
              </td>
            </tr>
            <br>
            <tr>
              <td style="width:15%;border:none;background-color:white">
                <span style=";font-weight:bold;font-size:15px">Timeseries (2D file) :</span>
              </td>
              <td style="width:30%;border:none;background-color:white">
                <el-select v-model="Project.selected_ts2" @change="RunStatus = '';DefineTimeseries2();status_cplx3[5] = 1;Increase_status('cplx3')" style="width:350px">
                  <el-option value="TimeSeries2D_example" style="font-size:15px"> TimeSeries2D_example </el-option>
                  <el-option value="TimeSeries2D_example_MINI" style="font-size:15px"> TimeSeries2D_example_MINI </el-option>
                  <el-option value="TimesSeries2D_E2RM1" style="font-size:15px"> TimesSeries2D_E2RM1 </el-option>
                  <el-option value="TimesSeries2D_E2RM3" style="font-size:15px"> TimesSeries2D_E2RM3 </el-option>
                  <div v-for="(item,index) in timeseries_files_list2" :key="index">
                    <el-option :value="timeseries_files_list2[index]" style="font-size:15px"> {{ timeseries_files_list2[index] }} </el-option>
                  </div>
                  <el-option value="Import" style="font-size:15px"> Import </el-option>
                </el-select>
              </td>
              <td style="width:15%;border:none;background-color:white">
                <template v-if="timeseries_files_list2.length == 0">
                  <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
                </template>
                <template v-else>
                  <el-button type="danger" style="font-family:Open Sans" @click="dialog_timeseries2 = true">Delete imported files</el-button>
                </template>
              </td>
              <td style="width:25%;border:none;background-color:white">
                <template v-if="Project.selected_ts2 === 'Import'">
                  <input type="file" ref="timeseriesfile2" accept=".nc,.csv" style="display:none" @change="handleFileUpload_TS2();RunStatus ='';Check_cplx3()" />
                  <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.timeseriesfile2.click()">Select Time Series File (.nc or .csv)</el-button>
                </template>
              </td>
              <td style="width:30%;border:none;background-color:white">
                <template v-if="(Project.ts_file_name2.length == 0)&&(Project.selected_ts2 == 'Import' || Project.selected_ts2.length == 0)">
                  <span> No Selected File </span>
                </template>
                <template v-else-if="Project.selected_ts2 == 'Import'">
                  <span> {{ Project.ts_file_name2 }} </span>
                </template>
              </td>
            </tr>
          </template>
        </table>

        <el-dialog :visible.sync="dialog_timeseries" style="text-align:center" title="Select the file(s) to delete">
          <el-checkbox-group v-model="timeseries_file_to_delete">
            <el-checkbox v-for="(item, index) in timeseries_files_list" :key="index" :label="timeseries_files_list[index]">{{item}}</el-checkbox>
          </el-checkbox-group>
          <span slot="footer" class="dialog-footer">
            <template v-if="timeseries_file_to_delete.length == 0">
              <el-button type="success" style="font-family:Open Sans" disabled>Confirm</el-button>
            </template>
            <template v-else>
              <el-button type="success" style="font-family:Open Sans" @click="DeleteFile('timeseries', timeseries_file_to_delete);dialog_timeseries = false">Confirm</el-button>
            </template>
            <el-button type="danger" style="font-family:Open Sans" @click.prevent="dialog_timeseries = false">Cancel</el-button>
          </span>
        </el-dialog>

        <el-dialog :visible.sync="dialog_timeseries2" style="text-align:center" title="Select the file(s) to delete">
          <el-checkbox-group v-model="timeseries_file_to_delete2">
            <el-checkbox v-for="(item, index) in timeseries_files_list2" :key="index" :label="timeseries_files_list2[index]">{{item}}</el-checkbox>
          </el-checkbox-group>
          <span slot="footer" class="dialog-footer">
            <template v-if="timeseries_file_to_delete2.length == 0">
              <el-button type="success" style="font-family:Open Sans" disabled>Confirm</el-button>
            </template>
            <template v-else>
              <el-button type="success" style="font-family:Open Sans" @click="DeleteFile('timeseries2D', timeseries_file_to_delete2);dialog_timeseries2 = false">Confirm</el-button>
            </template>
            <el-button type="danger" style="font-family:Open Sans" @click.prevent="dialog_timeseries2 = false">Cancel</el-button>
          </span>
        </el-dialog>

        <h2>
          Bathymetry <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="openSidebar5" />
        </h2>

        <table style="width:25%;background-color:white;border:none;margin-left:15px">
          <tr>
            <td style="width:40%;background-color:white;border:none">
              <span style=";font-weight:bold;font-size:15px">Is a uniform<br>depth required :</span>
            </td>
            <td style="width:30%;background-color:white;border:none">
                <el-switch
                  v-model="Project.uniform_bathy"
                  active-text="Yes"
                  inactive-text="No"
                  @change="RunStatus ='';Project.bathymetry = '';Project.selected_bathy = '';Check_cplx3()">
                </el-switch>
            </td>
          </tr>
        </table>
        <br>
        <template v-if="Project.uniform_bathy === false">
          <table style="width:100%;border:none;background-color:white;margin-left:15px">
            <tr>
              <td style="width:14%;border:none;background-color:white">
                <span style=";font-weight:bold;font-size:15px">Bathymetry :</span>
              </td>
              <td style="width:30%;border:none;background-color:white">
                <el-select v-model="Project.selected_bathy" @change="RunStatus = '';DefineBathymetry();status_cplx3[6] = 1;Increase_status('cplx3');Check_cplx3()" style="width:350px">
                  <el-option value="World_BATHYMETRY_GEBCO2019_9km" style="font-size:15px"> World_BATHYMETRY_GEBCO2019_9km </el-option>
                  <el-option value="France_BATHYMETRY_GEBCO2019_450m" style="font-size:15px"> France_BATHYMETRY_GEBCO2019_450m </el-option>
                  <div v-for="(item,index) in bathymetry_files_list" :key="index">
                    <el-option :value="bathymetry_files_list[index]" style="font-size:15px"> {{ bathymetry_files_list[index] }} </el-option>
                  </div>
                  <el-option value="Import" style="font-size:15px"> Import </el-option>
                </el-select>
              </td>
              <td style="width:15%;border:none;background-color:white">
                <template v-if="bathymetry_files_list.length == 0">
                  <el-button type="danger" style="font-family:Open Sans" disabled>Delete imported files</el-button>
                </template>
                <template v-else>
                  <el-button type="danger" style="font-family:Open Sans" @click="dialog_bathymetry = true">Delete imported files</el-button>
                </template>
              </td>
              <td style="width:25%;border:none;background-color:white">
                <template v-if="Project.selected_bathy === 'Import'">
                  <input type="file" ref="bathymetryfile" accept=".nc" style="display:none" @change="handleFileUpload_bathy();RunStatus ='';Check_cplx3()" />
                  <el-button style="width:300px;font-family:Open Sans" type="info" @click="$refs.bathymetryfile.click()">Select Bathymetry File (.nc)</el-button>
                </template>
              </td>
              <td style="width:30%;border:none;background-color:white">
                <template v-if="(Project.bathy_file_name.length == 0)&&(Project.selected_bathy == 'Import' || Project.selected_bathy.length == 0)">
                  <span> No Selected File </span>
                </template>
                <template v-else-if="Project.selected_bathy == 'Import'">
                  <span> {{ Project.bathy_file_name }} </span>
                </template>
              </td>
              
              <el-dialog :visible.sync="dialog_bathymetry" style="text-align:center" title="Select the file(s) to delete">
                <el-checkbox-group v-model="bathymetry_file_to_delete">
                  <el-checkbox v-for="(item, index) in bathymetry_files_list" :key="index" :label="bathymetry_files_list[index]">{{item}}</el-checkbox>
                </el-checkbox-group>
                <span slot="footer" class="dialog-footer">
                  <template v-if="bathymetry_file_to_delete.length == 0">
                    <el-button type="success" style="font-family:Open Sans" disabled>Confirm</el-button>
                  </template>
                  <template v-else>
                    <el-button type="success" style="font-family:Open Sans" @click="DeleteFile('bathymetry', bathymetry_file_to_delete);dialog_bathymetry = false">Confirm</el-button>
                  </template>
                  <el-button type="danger" style="font-family:Open Sans" @click.prevent="dialog_bathymetry = false">Cancel</el-button>
                </span>
              </el-dialog>
            </tr>
          </table>
        </template>
        <template v-else-if="Project.uniform_bathy === true">
          <table style="width:36%;background-color:white;border:none;margin-left:15px">
            <tr>
              <td style="width:40%;background-color:white;border:none">
                <span style=";font-weight:bold;font-size:15px">Depth<br>value :</span>
              </td>
              <td style="width:20%;background-color:white;border:none;align-text:left">
                <el-input v-model="Project.bathymetry" type="number" style="width:175px" step="any" @change="RunStatus ='';Check_cplx3();status_cplx3[6] = 1;Increase_status('cplx3')" />
              </td>
              <td style="text-align:left;background-color:white;border:none">
                <span> [m] </span>
              </td>
            </tr>
          </table>
        </template>
      </template>
      <br>
    </template>

    <template v-if="Project.complexity_level === 1 || Project.complexity_level === 2 || Project.complexity_level === 3 || Project.complexity_level === '2' || Project.complexity_level === '3'">
      <template v-if="((Project.complexity_level === 1 || Project.complexity_level === 2 || Project.complexity_level === '2') && check12 == true)||((Project.complexity_level === 3 || Project.complexity_level === '3') && check3 == true)">
        <el-row>
          <el-col :lg="5">
            <template v-if="project_running == false">
              <el-button
                type="primary"
                @click.prevent="project_running = true; onSubmit()"
                style="font-size:20px;font-family:Open Sans"> Run Module
              </el-button>
            </template>
            <template v-else>            
              <el-button
                type="primary"
                :loading="true"
                style="font-size:20px;font-family:Open Sans"> Run Module
              </el-button>
            </template>
          </el-col>
          <el-col :lg="6" style="position:relative;top:10px">
            <template v-if="project_running == true">
              <span style="font-weight:bold;font-size:20px;font-family:Open Sans"> Calculation in progress... </span>
            </template>
          </el-col>
          <el-col :lg="6" style="position:relative;bottom:5px">
            <template v-if="waves_basics == 'running'">
              <el-alert
                type="warning"
                title="Warning !"
                description="No changes will be taken into account for the current calculation."
                :closable="false"
                show-icon
              />
            </template>
          </el-col>
        </el-row>
      </template>
      <template v-else>
        <el-row>
          <el-col :lg="5">
            <el-button type="primary" style="font-size:20px;font-family:Open Sans" disabled>Run Module</el-button>
          </el-col>
        </el-row>
      </template>
    </template>
    <template v-else>
      <el-row>
        <el-col :lg="5">
          <el-button type="primary" style="font-size:20px;font-family:Open Sans" disabled>Run Module</el-button>
        </el-col>
      </el-row>
    </template>
    
    <br>

    <template v-if="RunStatus === true">
      <el-button type="primary" @click.prevent="RedirectToOutput()">See Results</el-button>
    </template>
    <br><br>
    <span style="font-weight:bold"> Log File </span>
    <div class="container">
      <ul>
        <div v-for="item in NewLogFile" :key="item">
          {{ item }}
        </div>
      </ul>
    </div>

    <div class="v-cloak">
      <template v-if="project_running == true">
        {{ ReadLog(15000) }}
      </template>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      dialogFormVisible: false,
      dialog_lease: false,
      dialog_corridor: false,
      dialog_seabed: false,
      dialog_roughness: false,
      dialog_species: false,
      dialog_timeseries: false,
      dialog_timeseries2: false,
      dialog_bathymetry: false,
      Dialog1: false,
      LogFile: '',
      NewLogFile: '',
      intervalid1: '',
      lease_file: '',
      corridor_file: '',
      seabed_file: '',
      roughness_file: '',
      species_file: '',
      ts_file: '',
      ts_file2: '',
      bathy_file: '',
      corridor_files_list: [],
      corridor_file_to_delete: [],
      lease_files_list: [],
      lease_file_to_delete: [],
      seabed_files_list: [],
      seabed_file_to_delete: [],
      roughness_files_list: [],
      roughness_file_to_delete: [],
      species_files_list: [],
      species_file_to_delete: [],
      timeseries_files_list: [],
      timeseries_file_to_delete: [],
      timeseries_files_list2: [],
      timeseries_file_to_delete2: [],
      bathymetry_files_list: [],
      bathymetry_file_to_delete: [],
      check12: false,
      check3: false,
      ConsistencyAlert: true,
      status_cplx3: [0,0,0,0,0,0,0],
      Entity_to_load: '',
      ReadTheLog: true
    }
  },
  computed: {
    ...mapState(['Project', 'RunStatus', 'waves_basics', 'waves_ext', 'currents_basics', 'currents_ext', 'winds_basics', 'winds_ext', 'waterlevels_basics', 'waterlevels_ext', 'project_running', 'is_saved', 'DR_present', 'Name', 'TS_switch']),
      Project: {
        get () {
          return this.$store.state.Project
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectAction', newValue)
        }
      },
      RunStatus: {
        get () {
          return this.$store.state.RunStatus
        },
        set (newValue) {
          return this.$store.dispatch('set_RunStatusAction', newValue)
        }
      },
      waves_basics: {
        get () {
          return this.$store.state.waves_basics
        },
        set (newValue) {
          return this.$store.dispatch('set_waves_basicsAction', newValue)
        }
      },
      waves_ext: {
        get () {
          return this.$store.state.waves_ext
        },
        set (newValue) {
          return this.$store.dispatch('set_waves_extAction', newValue)
        }
      },
      currents_basics: {
        get () {
          return this.$store.state.currents_basics
        },
        set (newValue) {
          return this.$store.dispatch('set_currents_basicsAction', newValue)
        }
      },
      currents_ext: {
        get () {
          return this.$store.state.currents_ext
        },
        set (newValue) {
          return this.$store.dispatch('set_currents_extAction', newValue)
        }
      },
      winds_basics: {
        get () {
          return this.$store.state.winds_basics
        },
        set (newValue) {
          return this.$store.dispatch('set_winds_basicsAction', newValue)
        }
      },
      winds_ext: {
        get () {
          return this.$store.state.winds_ext
        },
        set (newValue) {
          return this.$store.dispatch('set_winds_extAction', newValue)
        }
      },
      waterlevels_basics: {
        get () {
          return this.$store.state.waterlevels_basics
        },
        set (newValue) {
          return this.$store.dispatch('set_waterlevels_basicsAction', newValue)
        }
      },
      waterlevels_ext: {
        get () {
          return this.$store.state.waterlevels_ext
        },
        set (newValue) {
          return this.$store.dispatch('set_waterlevels_extAction', newValue)
        }
      },
      project_running: {
        get () {
          return this.$store.state.project_running
        },
        set (newValue) {
          return this.$store.dispatch('set_project_runningAction', newValue)
        }
      },
      is_saved: {
        get () {
          return this.$store.state.is_saved
        },
        set (newValue) {
          return this.$store.dispatch('set_is_savedAction', newValue)
        }
      },
      DR_present: {
        get () {
          return this.$store.state.DR_present
        },
        set (newValue) {
          return this.$store.dispatch('set_DR_presentAction', newValue)
        }
      },
      TS_switch: {
        get () {
          return this.$store.state.TS_switch
        },
        set (newValue) {
          return this.$store.dispatch('set_TS_switchAction', newValue)
        }
      }
    },
  beforeMount() {
    if(this.$route.query.EntityId!=null) {
      this.load_entity(this.$route.query.EntityId)
    }
    if (this.RunStatus === true || this.project_running == true) {
      this.ReadLog(10)
    }
    this.list_of_lease_files()
    this.list_of_corridor_files()
    this.list_of_seabed_files()
    this.list_of_roughness_files()
    this.list_of_species_files()
    this.list_of_timeseries_files()
    this.list_of_timeseries_files2()
    this.list_of_bathymetry_files()
    if (this.Project.complexity_level == 3 || this.Project.complexity_level == '3') {
      this.Check_cplx3()
    } else {
      this.Check_cplx12()
    }
  },
  methods: {
    list_of_lease_files() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/listlease`
      axios.get(path)
      .then((res) => {
        this.lease_files_list = res.data
        if (!(this.lease_files_list.includes(this.Project.lease_file_name[0].slice(0,-4)))&&(this.Project.selected_lease == 'Import')) {
          this.Project.lease_file_name = 'No Selected File'
        }
      })
    },
    list_of_corridor_files() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/listcorridor`
      axios.get(path)
      .then((res) => {
        this.corridor_files_list = res.data
        if (!(this.corridor_files_list.includes(this.Project.corridor_file_name[0].slice(0,-4)))&&(this.Project.selected_corridor == 'Import')) {
          this.Project.corridor_file_name = 'No Selected File'
        }
      })
    },
    list_of_seabed_files() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/listseabed`
      axios.get(path)
      .then((res) => {
        this.seabed_files_list = res.data
        if (!(this.seabed_files_list.includes(this.Project.seabed_file_name))&&(this.Project.selected_seabed == 'Import')) {
          this.Project.seabed_file_name = 'No Selected File'
        }
      })
    },
    list_of_roughness_files() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/listroughness`
      axios.get(path)
      .then((res) => {
        this.roughness_files_list = res.data
        if (!(this.roughness_files_list.includes(this.Project.roughness_file_name))&&(this.Project.selected_roughness == 'Import')) {
          this.Project.roughness_file_name = 'No Selected File'
        }
      })
    },
    list_of_species_files() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/listspecies`
      axios.get(path)
      .then((res) => {
        this.species_files_list = res.data
        if (!(this.species_files_list.includes(this.Project.species_file_name))&&(this.Project.selected_species == 'Import')) {
          this.Project.species_file_name = 'No Selected File'
        }
      })
    },
    list_of_timeseries_files() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/listtimeseries`
      axios.get(path)
      .then((res) => {
        this.timeseries_files_list = res.data
        if (!(this.timeseries_files_list.includes(this.Project.ts_file_name))&&(this.Project.selected_ts == 'Import')) {
          this.Project.ts_file_name = 'No Selected File'
        }
      })
    },
    list_of_timeseries_files2() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/listtimeseries2`
      axios.get(path)
      .then((res) => {
        this.timeseries_files_list2 = res.data
        if (!(this.timeseries_files_list2.includes(this.Project.ts_file_name2))&&(this.Project.selected_ts2 == 'Import')) {
          this.Project.ts_file_name2 = 'No Selected File'
        }
      })
    },
    list_of_bathymetry_files() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/listbathymetry`
      axios.get(path)
      .then((res) => {
        this.bathymetry_files_list = res.data
        if (!(this.bathymetry_files_list.includes(this.Project.bathy_file_name))&&(this.Project.selected_bathy == 'Import')) {
          this.Project.bathy_file_name = 'No Selected File'
        }
      })
    },
    loadOutputs() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Project.entity_id}/${this.Project.name}/loadoutputs`
      return axios.get(path)
        .then((res) => {
          this.waves_basics = res.data[0],
          this.waves_ext = res.data[1],
          this.currents_basics = res.data[2],
          this.currents_ext = res.data[3],
          this.winds_basics = res.data[4],
          this.winds_ext = res.data[5],
          this.waterlevels_basics = res.data[6],
          this.waterlevels_ext = res.data[7]
        })
    },
    handleFileUpload_lease(){
      this.lease_file = this.$refs.leasefile.files
      if (this.Project.lease_file_name[0].length != 0) {
        this.Project.lease_file_name = []
      }
      for (var i=0; i<this.lease_file.length; i++) {
        if (i==0) {
          this.Project.lease_file_name[0] = this.$refs.leasefile.files[i].name
        } else {
          this.Project.lease_file_name.push(this.$refs.leasefile.files[i].name)
        }
      }
      this.submitFiles(this.lease_file, this.Project.lease_file_name, 'lease')
      this.Project.lease = './storage/temp/lease/' + this.Project.lease_file_name[0].slice(0, -4) + '/' + this.Project.lease_file_name[0].slice(0, -4) + '.shp'
    },
    handleFileUpload_corridor(){
      this.corridor_file = this.$refs.corridorfile.files
      if (this.Project.corridor_file_name[0].length != 0) {
        this.Project.corridor_file_name = []
      }
      for (var i=0; i<this.corridor_file.length; i++) {
        if (i==0) {
          this.Project.corridor_file_name[0] = this.$refs.corridorfile.files[i].name
        } else {
          this.Project.corridor_file_name.push(this.$refs.corridorfile.files[i].name)
        }
      }
      this.submitFiles(this.corridor_file, this.Project.corridor_file_name, 'corridor')
      this.Project.corr = './storage/temp/corridor/' + this.Project.corridor_file_name[0].slice(0, -4) + '/' + this.Project.corridor_file_name[0].slice(0, -4) + '.shp'
    },
    handleFileUpload_seabed(){
      this.seabed_file = this.$refs.seabedfile.files[0]
      this.Project.seabed_file_name = this.seabed_file.name
      this.submitFile(this.seabed_file, this.seabed_file.name, 'seabed')
      this.Project.seabed = './storage/temp/seabed/' + this.seabed_file.name
    },
    handleFileUpload_roughness(){
      this.roughness_file = this.$refs.roughnessfile.files[0]
      this.Project.roughness_file_name = this.roughness_file.name
      this.submitFile(this.roughness_file, this.roughness_file.name, 'roughness')
      this.Project.roughness = './storage/temp/roughness/' + this.roughness_file.name
    },
    handleFileUpload_species(){
      this.species_file = this.$refs.speciesfile.files[0]
      this.Project.species_file_name = this.species_file.name
      this.submitFile(this.species_file, this.species_file.name, 'species')
      this.Project.species = './storage/temp/species/' + this.species_file.name
    },
    handleFileUpload_TS(){
      this.ts_file = this.$refs.timeseriesfile.files[0]
      this.Project.ts_file_name = this.ts_file.name
      this.submitFile(this.ts_file, this.ts_file.name, 'timeseries')
      this.Project.ts = './storage/temp/timeseries/' + this.ts_file.name
    },
    handleFileUpload_TS2(){
      this.ts_file2 = this.$refs.timeseriesfile2.files[0]
      this.Project.ts_file_name2 = this.ts_file2.name
      this.submitFile(this.ts_file2, this.ts_file2.name, 'timeseries2D')
      this.Project.ts2 = './storage/temp/timeseries2D/' + this.ts_file2.name
    },
    handleFileUpload_bathy(){
      this.bathy_file = this.$refs.bathymetryfile.files[0]
      this.Project.bathy_file_name = this.bathy_file.name
      this.submitFile(this.bathy_file, this.bathy_file.name, 'bathymetry')
      this.Project.bathymetry = './storage/temp/bathymetry/' + this.bathy_file.name
    },
    submitFile(fichier, nom, type){
      let formData = new FormData();
      formData.append('file', fichier);
      axios.post( `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${type}/${nom}/single_file`,
          formData,
          {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        }
      )
      .then((res) => {
        this.list_of_seabed_files()
        this.list_of_roughness_files()
        this.list_of_species_files()
        this.list_of_timeseries_files()
        this.list_of_timeseries_files2()
        this.list_of_bathymetry_files()
      })
    },
    submitFiles(fichiers, noms, type){
      let formData = new FormData();
      for( var i = 0; i < fichiers.length; i++ ){
        let file = fichiers[i];
        formData.append('file[' + i + ']', file);
      }
      axios.post( `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${type}/${noms}/multiple_file`,
          formData,
          {
          headers: {
              'Content-Type': 'multipart/form-data'
          }
        }
      )
      .then((res) => {
        this.list_of_lease_files()
        this.list_of_corridor_files()
      })
    },
    DeleteFile(filetype, filenames) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/DeleteImportedFiles`
      const payload = {
        type: filetype,
        names: filenames
      }
      axios.post(path, payload)
        .then((res) => {
          if (filenames.includes(this.Project.seabed_file_name)) {
            this.Project.seabed = ''
            this.seabed_file = ''
          }
          else if (filenames.includes(this.Project.selected_seabed)) {
            this.Project.selected_seabed = ''
          }
          if (filenames.includes(this.Project.roughness_file_name)) {
            this.Project.roughness = ''
            this.roughness_file = ''
          }
          else if (filenames.includes(this.Project.selected_roughness)) {
            this.Project.selected_roughness = ''
          }
          if (filenames.includes(this.Project.species_file_name)) {
            this.Project.species = ''
            this.species_file = ''
          }
          else if (filenames.includes(this.Project.selected_species)) {
            this.Project.selected_species = ''
          }
          if (filenames.includes(this.Project.ts_file_name)) {
            this.Project.ts = ''
            this.ts_file = ''
          }
          else if (filenames.includes(this.Project.selected_ts)) {
            this.Project.selected_ts = ''
          }
          if (filenames.includes(this.Project.ts_file_name2)) {
            this.Project.ts2 = ''
            this.ts_file2 = ''
          }
          else if (filenames.includes(this.Project.selected_ts2)) {
            this.Project.selected_ts2 = ''
          }
          if (filenames.includes(this.Project.bathy_file_name)) {
            this.Project.bathymetry = ''
            this.bathy_file = ''
          }
          else if (filenames.includes(this.Project.selected_bathy)) {
            this.Project.selected_bathy = ''
          }
          this.list_of_seabed_files()
          this.list_of_roughness_files()
          this.list_of_species_files()
          this.list_of_timeseries_files()
          this.list_of_timeseries_files2()
          this.list_of_bathymetry_files()
        })
        this.seabed_file_to_delete = []
        this.roughness_file_to_delete = []
        this.species_file_to_delete = []
        this.timeseries_file_to_delete = []
        this.timeseries_file_to_delete2 = []
        this.bathymetry_file_to_delete = []
    },
    DeleteFolder(filetype, filenames) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/DeleteImportedFolder`
      const payload = {
        type: filetype,
        names: filenames
      }
      axios.post(path, payload)
        .then((res) => {
          if (filenames.includes(this.Project.corridor_file_name)) {
            this.Project.corridor = ''
            this.corridor_file = ''
          }
          else if (filenames.includes(this.Project.selected_corridor)) {
            this.Project.selected_corridor = ''
          }
          if (filenames.includes(this.Project.lease_file_name)) {
            this.Project.lease = ''
            this.lease_file = ''
          }
          else if (filenames.includes(this.Project.selected_lease)) {
            this.Project.selected_lease = ''
          }
          this.list_of_lease_files()
          this.list_of_corridor_files()
        })
        this.lease_file_to_delete = []
        this.corridor_file_to_delete = []
    },
    DeleteLog() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/DeleteLog`
      axios.post(path)
      this.waves_basics = 'running'
    },
    onSubmit() {
      var checkTS = false
      if (this.Project.ts2.length != 0) {
        checkTS = true
      }
      this.Project.entity_status = 100
      this.SaveAs()
      setTimeout(() => {
        const payload = {
          name: this.Project.name,
          entity_id: this.Project.entity_id,
          description: '',
          level: this.Project.complexity_level,
          wav: this.Project.wave,
          cur: this.Project.current,
          lease: this.Project.lease,
          corr: this.Project.corr,
          bathy: this.Project.bathymetry,
          seabed: this.Project.seabed,
          roughness: this.Project.roughness,
          species: this.Project.species,
          ts: this.Project.ts,
          ts2: this.Project.ts2,
          DR_present: this.DR_present,
          checkTS: checkTS
        }
        this.DeleteLog()
        this.RunStatus = ''
        this.NewLogFile = ''
        this.Log = ''
        this.runProject(payload)
      }, 1000);
    },
    async runProject(payload) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/run`
      await axios.post(path, payload)
      .then((res) => {
        this.RunStatus = true
        this.project_running = false
        this.is_saved = false
        this.loadOutputs()
        this.ReadLog(10)
      })
    },
    changePage(pagename) {
      this.$router.push({
        name: pagename
      })
    },
    SaveAs() {
      const payload = {
            name: this.Project.name,
            complexity_level: this.Project.complexity_level,
            run_mode: this.Project.run_mode,
            lease: this.Project.lease,
            corr: this.Project.corr,
            wave: this.Project.wave,
            current: this.Project.current,
            bathymetry: this.Project.bathymetry,
            seabed: this.Project.seabed,
            roughness: this.Project.roughness,
            species: this.Project.species,
            ts: this.Project.ts,
            ts2: this.Project.ts2,
            selected_corridor: this.Project.selected_corridor,
            corridor_file_name: this.Project.corridor_file_name,
            selected_lease: this.Project.selected_lease,
            lease_file_name: this.Project.lease_file_name,
            selected_seabed: this.Project.selected_seabed,
            seabed_file_name: this.Project.seabed_file_name,
            selected_roughness: this.Project.selected_roughness,
            roughness_file_name: this.Project.roughness_file_name,
            selected_species: this.Project.selected_species,
            species_file_name: this.Project.species_file_name,
            selected_ts: this.Project.selected_ts,
            ts_file_name: this.Project.ts_file_name,
            selected_ts2: this.Project.selected_ts2,
            ts_file_name2: this.Project.ts_file_name2,
            uniform_bathy: this.Project.uniform_bathy,
            selected_bathy: this.Project.selected_bathy,
            bathy_file_name: this.Project.bathy_file_name,
            entity_status: this.Project.entity_status,
            entity_id: this.Project.entity_id,
            DR_present: this.DR_present
          }
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Project.name}/saveProject`
      axios
        .post(path, payload)
        .then((res)=>{
          this.Project = res.data
        })
    },
    RedirectToOutput() {
      this.$router.push({ name: 'Overview' })
    },
    ReadLog(timetowait) {
      if (this.ReadTheLog == true) {
        this.ReadTheLog = false
        setTimeout(function () {
          const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/ReadLog`
          axios
            .get(path)
            .then((res) => {
              this.LogFile = res.data
              return this.LogFile
            })
            .then((LogFile) => {
              var today = new Date()
              var date = today.getFullYear()+'-'
              this.NewLogFile = this.LogFile.replaceAll(date,"\n"+date)
              this.NewLogFile = this.NewLogFile.split("\n")
              for (let i=0; i<this.NewLogFile.length; i++) {
                if (this.NewLogFile[i].includes(' :: INFO :: ')) {
                  const temp = this.NewLogFile[i].split(" :: INFO :: ")
                  this.NewLogFile[i] = temp[1]
                }
                if (this.NewLogFile[i].includes(' :: DEBUG :: ')) {
                  const temp = this.NewLogFile[i].split(" :: DEBUG :: ")
                  this.NewLogFile[i] = temp[1]
                }
                if (this.NewLogFile[i].includes('POST /sc/')||this.NewLogFile[i].includes('GET /sc/')||this.NewLogFile[i].includes('OPTIONS /sc/')) {
                  this.NewLogFile[i] = ""
                }
              }
            })
            this.ReadTheLog = true
        }.bind(this), timetowait)
      }
    },
    async openSidebar() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Databases',
        message: '<h3> Wave level of energy </h3> <span> the wave time series are extracted from the HOMERE database [1]. </span>' +
          '<h3> Current level of energy </h3> <span> the wave time series are extracted from the HOMERE database [1].</span> <br>' +
          '<br><span>[1] Boudière, E., Maisondieu, C., Ardhuin, F., Accensi, M., Pineau-Guillou, L. and  Lepesqueur,  J.,  2013.A  suitable  metocean  hindcast  database  for  the  design  of  Marine  energy converters. International Journal of Marine Energy 3-4 (2013) e40-e52.</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Bathymetry',
        message: '<span>The bathymetry (water depth in meter from MSL) comes from GEBCO (General Bathymetric Chart of the Oceans) [1].</span><br>' +
          '<br><span>[1] GEBCO Compilation Group, 2019. GEBCO 2019 Grid (doi:10.5285/836f016a-33be-6ddc-e053-6c86abc0788e)</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar3() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Geometries',
        message: '<h3> Lease area </h3> <span>Please select in the list the lease area (farm extent) you want to use or import your own (polygon) shapefile.</span>' +
          '<h3> Corridor </h3> <span>Please select in the list the corridor (export cable route) you want to use or import your own (polyline) shapefile.</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar4() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Databases',
        message: '<div style="padding-right:20px;height: 600px; overflow-y: scroll"><h3> Seabed types </h3> <span>Please select in the list the sediment file you want to use or import your own bathymetry file in netCDF format.</span><br>' +
          '<span>The available sediment files come from the World Sediment Map (SHOM) [1].</span>' +
          '<h3> Roughness length </h3> <span>From  the sediment file, the macroscopic roughness length z<sub>0</sub> has been computed, using Nikuradse\'s formula (2.5 times the average diameter D50 of the sediment).</span><br>' +
          '<span>You can also import your own roughness length file with a z<sub>0</sub> in meters and in a netCDF format.</span>' +
          '<h3> Endangered species </h3> <span>Please select in the list the global Species file or import your own one.</span>' +
          '<span>The Species database has been built from Aquamaps [2] and gives the probability of presence of 26 endangered species.</span>' +
          '<h3> Timeseries </h3> <span>Please select in the list the timeseries file you want to use or import your own timeseries either in netCDF format or in CSV format.</span><br>' +
          '<span>Timeseries of waves, tidal currents, winds and water levels have been extracted from several databases.</span><br><br>' +
          '<span>More information is available in the Site Characterisation documentation.</span><br>' +
          '<br><span>[1] GEBCO Compilation Group, 2019. GEBCO 2019 Grid<br>(doi:10.5285/836f016a-33be-6ddc-e053-6c86abc0788e)</span>' +
          '<br><span>[2] Kaschner, K., K. Kesner-Reyes, C. Garilao, J. Rius-Barile, T. Rees, and R. Froese. 2016.AquaMaps: Predicted range maps for aquatic species. World wide web electronic publication, www.aquamaps.org, Version 10/2019.</span></div>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar5() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Bathymetry',
        message: '<span>Please select in the list the bathymetry (water depth) you want to use or import your own bathymetry file in netCDF format.</span><br>' +
          '<span>The available bathymetry files come from GEBCO (General Bathymetric Chart of the Oceans) [1].</span><br>' +
          '<br><span>[1] GEBCO  Compilation  Group,  2019.GEBCO  2019  Grid(doi:10.5285/836f016a-33be-6ddc-e053-6c86abc0788e)</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    Check_cplx12() {
      if (this.Project.wave.length !=0 && this.Project.current.length !=0) {
        if ((this.Project.uniform_bathy == true && this.Project.bathymetry.length != 0)||this.Project.uniform_bathy == false) {
          this.check12 = true
        } else {
          this.check12 = false
        }
      } else {
        this.check12 = false
      }
    },
    Check_cplx3() {
      if ((this.Project.lease !='./storage/temp/lease//.shp' && this.Project.lease.length != 0) && (this.Project.corr != './storage/temp/corridor//.shp' && this.Project.corr.length != 0) && (this.Project.seabed != './storage/temp/seabed/' && this.Project.seabed.length != 0) && (this.Project.roughness != './storage/temp/roughness/' && this.Project.roughness.length != 0) && (this.Project.species != './storage/temp/species/' && this.Project.species.length != 0) && (this.Project.ts != './storage/temp/timeseries/' && this.Project.ts.length != 0)) {
        if (this.Project.bathymetry.length !=0 || this.Project.bathy_file_name.length !=0) {
          this.check3 = true
        } else {
          this.check3 = false
        }
      } else {
        this.check3 = false
      }
    },
    DefineLease() {
      if (this.Project.selected_lease == 'Example_lease_area') {
        this.Project.lease = './databases/SiteCharacterisation_User_Basic-Database/Geometries/' + this.Project.selected_lease + '.shp'
      } else if (this.Project.selected_lease == 'RM1_lease_area_WGS84' || this.Project.selected_lease == 'RM3_lease_area_WGS84' || this.Project.selected_lease == 'E2RM1_lease_area' || this.Project.selected_lease == 'E2RM3_lease_area') {
        this.Project.lease = './databases/SiteCharacterisation_User_VerificationCases-Database/Geometries/' + this.Project.selected_lease + '.shp'
      } else if (this.Project.selected_lease != 'Import') {
        this.Project.lease = './storage/temp/lease/' + this.Project.selected_lease + '/' + this.Project.selected_lease + '.shp'
      }
      this.lease_file = ''
      this.Check_cplx3()
      this.CheckConsistency()
    },
    DefineCorridor() {
      if (this.Project.selected_corridor == 'Example_corridor') {
        this.Project.corr = './databases/SiteCharacterisation_User_Basic-Database/Geometries/' + this.Project.selected_corridor + '_NEW.shp'
      } else if (this.Project.selected_corridor == 'RM1_corridor_WGS84' || this.Project.selected_corridor == 'RM3_corridor_WGS84' || this.Project.selected_corridor == 'E2RM1_corridor' || this.Project.selected_corridor == 'E2RM3_corridor' || this.Project.selected_corridor == 'E2RM1_corridor_NEW' || this.Project.selected_corridor == 'E2RM3_corridor_NEW') {
        this.Project.corr = './databases/SiteCharacterisation_User_VerificationCases-Database/Geometries/' + this.Project.selected_corridor + '.shp'
      } else if (this.Project.selected_corridor != 'Import') {
        this.Project.corr = './storage/temp/corridor/' + this.Project.selected_corridor + '/'  + this.Project.selected_corridor + '.shp'
      }
      this.corridor_file = ''
      this.Check_cplx3()
      this.CheckConsistency()
    },
    DefineSeabed() {
      if (this.Project.selected_seabed == 'France_SEABED-TYPE_SHOM_450m') {
        this.Project.seabed = './databases/SiteCharacterisation_Main-Database/Seabed/' + this.Project.selected_seabed +'.nc'
      } else if (this.Project.selected_seabed == 'World_SEABED-TYPE_SHOM_9km') {
        this.Project.seabed = './databases/SiteCharacterisation_User_World-Database/DirectValues/' + this.Project.selected_seabed +'.nc'
      } else if (this.Project.selected_seabed != 'Import') {
        this.Project.seabed = './storage/temp/seabed/' + this.Project.selected_seabed
      }
      this.seabed_file = ''
      this.Check_cplx3()
    },
    DefineRoughness() {
      if (this.Project.selected_roughness == 'France_SEABED-ROUGHNESS-LENGTH_SHOM_450m') {
        this.Project.roughness = './databases/SiteCharacterisation_Main-Database/Seabed/' + this.Project.selected_roughness +'.nc'
      } else if (this.Project.selected_roughness == 'World_SEABED-ROUGHNESS-LENGTH_SHOM_9km') { 
        this.Project.roughness = './databases/SiteCharacterisation_User_World-Database/DirectValues/' + this.Project.selected_roughness +'.nc'
      } else if (this.Project.selected_roughness != 'Import') {
        this.Project.roughness = './storage/temp/roughness/' + this.Project.selected_roughness
      }
      this.roughness_file = ''
      this.Check_cplx3()
    },
    DefineSpecies() {
      if (this.Project.selected_species == 'World_species_9km') {
        this.Project.species = './databases/SiteCharacterisation_User_Basic-Database/DirectValues/' + this.Project.selected_species + '.nc'
      } else if (this.Project.selected_species != 'Import') {
        this.Project.species = './storage/temp/species/' + this.Project.selected_species
      }
      this.species_file = ''
      this.Check_cplx3()
    },
    DefineTimeseries() {
      if (this.Project.selected_ts == 'TimesSeries1D_E2RM1' || this.Project.selected_ts == 'TimesSeries1D_E2RM3') {
        this.Project.ts = './databases/SiteCharacterisation_User_VerificationCases-Database/TimeSeries/' + this.Project.selected_ts + '.nc'
      } else if (this.Project.selected_ts == 'TimeSeries1D_example' || this.Project.selected_ts == 'TimeSeries1D_example_MINI') {
        this.Project.ts = './databases/SiteCharacterisation_User_Basic-Database/TimeSeries/' + this.Project.selected_ts + '.csv'
      } else if (this.Project.selected_ts == 'TimeSeries1D_RM1_TAKOMA' || this.Project.selected_ts == 'TimeSeries1D_RM3_EUREKA') {
        this.Project.ts = './databases/SiteCharacterisation_User_VerificationCases-Database/TimeSeries/' + this.Project.selected_ts + '.csv'
      } else if (this.Project.selected_ts != 'Import') {
        this.Project.ts = './storage/temp/timeseries/' + this.Project.selected_ts
      }
      this.ts_file = ''
      this.Check_cplx3()
    },
    DefineTimeseries2() {
      if (this.Project.selected_ts2 == 'TimesSeries2D_E2RM1' || this.Project.selected_ts2 == 'TimesSeries2D_E2RM3') {
        this.Project.ts2 = './databases/SiteCharacterisation_User_VerificationCases-Database/TimeSeries/' + this.Project.selected_ts2 + '.nc'
      } else if (this.Project.selected_ts2 == 'TimeSeries2D_example' || this.Project.selected_ts2 == 'TimeSeries2D_example_MINI') {
        this.Project.ts2 = './databases/SiteCharacterisation_User_Basic-Database/TimeSeries/' + this.Project.selected_ts2 + '.csv'
      } else if (this.Project.selected_ts2 != 'Import') {
        this.Project.ts2 = './storage/temp/timeseries2D/' + this.Project.selected_ts2
      }
      this.ts_file2 = ''
      this.Check_cplx3()
    },
    DefineBathymetry() {
      if (this.Project.selected_bathy == 'World_BATHYMETRY_GEBCO2019_9km') {
        this.Project.bathymetry = './databases/SiteCharacterisation_User_World-Database/DirectValues/' + this.Project.selected_bathy + '.nc'
      } else if (this.Project.selected_bathy == 'France_BATHYMETRY_GEBCO2019_450m') {
        this.Project.bathymetry = './databases/SiteCharacterisation_User_France-Database/DirectValues/' + this.Project.selected_bathy + '.nc'
      } else if (this.Project.selected_bathy != 'Import') {
        this.Project.bathymetry = './storage/temp/bathymetry/' + this.Project.selected_bathy
      }
      this.bathy_file = ''
      this.Check_cplx3()
    },
    CheckConsistency() {
      if ((this.Project.lease !='./storage/temp/lease//.shp' && this.Project.lease.length != 0) && (this.Project.corr != './storage/temp/corridor//.shp' && this.Project.corr.length != 0)) {
        const payload = {
          lease: this.Project.lease,
          corr: this.Project.corr
        }
        const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/Checkconsistency`
        axios.post(path, payload)
        .then((res)=> {
          this.ConsistencyAlert = res.data
        })
      }
    },
    Increase_status(lvl) {
      if (this.Project.entity_status != 50) {
        if (lvl == 'cplx12') {
          if (this.Project.wave.length != 0 || this.Project.current.length !=0) {
            this.Project.entity_status = 25
          }
          if (this.Project.wave.length != 0 && this.Project.current.length !=0) {
            this.Project.entity_status = 50
          }
        } else if (lvl == 'cplx3') {
          const reducer = (accumulator, currentValue) => accumulator + currentValue;
          this.Project.entity_status = Math.round(((this.status_cplx3.reduce(reducer))/7)*50)
        }
      }
    },
    async load_entity(eid) {
      await axios.get(`${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${eid}/Get_Entity_Name`)
      .then((res)=> {
        this.Entity_to_load = res.data
      })
      axios.get(`${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Entity_to_load}/loadinputs`)
      .then((res) => {
        this.Project = res.data
      })
      axios.get(`${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/none/${this.Entity_to_load}/loadoutputs`)
      .then((res) => {
        this.waves_basics = res.data[0],
        this.waves_ext = res.data[1],
        this.currents_basics = res.data[2],
        this.currents_ext = res.data[3],
        this.winds_basics = res.data[4],
        this.winds_ext = res.data[5],
        this.waterlevels_basics = res.data[6],
        this.waterlevels_ext = res.data[7]
      })
    }
  }
}
</script>

<style lang="scss">

html, body, #app {
  height: 100%;
}

.center_page_position {
  position: relative;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  margin-left: 15%
}

.container {
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid #444444;
  border-collapse: collapse;
}

body { min-width: 1050px; }

span { font-family: "Open Sans" }

h1, h2, h3, h4 { font-family: "Rajdhani"}

</style>
