{% extends "layout.html" %}

{% block header %}
<h1>{% block title %}"Main" Module{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="wrap">
  <div id="menu">
    {% include "main/links.html" %}
  </div>
</div>
<div style="clear:both"></div>
{% endblock %}
