<h3><a href="{{ url_for('project.index') }}">Projects</a></li></h3>

<h3>Tools</h3>
<ul>
{% for service in services %}
  <li><a href="{{ service.url }}">{{ service.name }}</a></li>
{% endfor %}
</ul>
