<!DOCTYPE html>
<html>
  <body>
    <h1>{{ _('Hello from gui foo! (in Services/templates/gui/index.html)') }}</h1>
    <p>{{ _('Content of foo() is: <b>%(content)s</b>.', content=content) }}</p>
  </body>
</html>
