<!--
This is the Site Characterisation module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Youen Kervella, Nicolas Michelet, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <img src="@/assets/logos/Currents.png" alt="end spe" width="90" height="90" align="left">

    <tr>
      <td style="width:20%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> Currents </h1>
      </td>
      <td style="width:20%;background-color: white; border:none;text-align:right">
        <template v-if="Project.name != 'none'">
          <h2 class="h2_section">Name of the Entity : <span style="color:#16a085">{{ Project.name }}</span></h2>
        </template>
      </td>
    </tr>

    <template v-if="currents_basics === false">
      <ul>
        <span style="font-weight:bold;font-size:18px"> No results available. Load/Create or Run your current entity before access to this page. </span>
      </ul>
    </template>

    <template v-else-if="waves_basics === 'running'">
      <ul>
        <span style="font-weight:bold;font-size:18px"> The calculation is in progress </span>
      </ul>
    </template>

    <template v-else>
      <br>
      <span style="font-weight:bold;font-size:18px"> Overview <i class="el-icon-info" style="margin-left:5px;cursor:pointer" @click.prevent="openSidebar" /> </span>
      <br><br>
      <ul>
        <table>
          <tr>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Variable name </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Minimum </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Maximum </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Mean </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> Median </td>
            <td style="font-weight:bold;width:170px;font-family:Open Sans"> STD </td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-family:Open Sans"> Mag [m/s] </td>
            <td> {{ Math.round(currents_basics.mag.min*100)/100 }} </td>
            <td> {{ Math.round(currents_basics.mag.max*100)/100 }} </td>
            <td> {{ Math.round(currents_basics.mag.mean*100)/100 }} </td>
            <td> {{ Math.round(currents_basics.mag.median*100)/100 }} </td>
            <td> {{ Math.round(currents_basics.mag.std*100)/100 }} </td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-family:Open Sans"> Flux [W/m²] </td>
            <td> {{ Math.round(currents_basics.Flux.min*100)/100 }} </td>
            <td> {{ Math.round(currents_basics.Flux.max*100)/100 }} </td>
            <td> {{ Math.round(currents_basics.Flux.mean*100)/100 }} </td>
            <td> {{ Math.round(currents_basics.Flux.median*100)/100 }} </td>
            <td> {{ Math.round(currents_basics.Flux.std*100)/100 }} </td>
          </tr>
        </table>
      </ul>
      <br><br>
      <el-switch
        v-model="switch_current"
        active-text="Windrose format"
        inactive-text="EJPD format">
      </el-switch>
      <br><br>
      <template v-if="switch_current == false">
        <div style="overflow: hidden">
          <span style="font-weight:bold"> EJPD Mag-Theta <i class="el-icon-info" style="margin-left:5px;cursor:pointer" @click.prevent="openSidebar2" /> </span>
          <br>
          <img :src="image1" style="position:relative" />
        </div>
      </template>
      <template v-else>
        <div style="overflow: hidden">
          <span style="font-weight:bold"> Windrose Mag-Theta <i class="el-icon-info" style="margin-left:5px;cursor:pointer" @click.prevent="openSidebar22" /> </span>
          <br>
          <img :src="image2" style="position:relative" width="550" />
        </div>
      </template>
      <br>
      <hr style="width:50%;float:left">
      <br>
    </template>

    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      image1: '',
      image2: ''
    }
  },
  computed: {
    ...mapState(['Project', 'waves_basics', 'waves_ext', 'currents_basics', 'currents_ext', 'winds_basics', 'winds_ext', 'waterlevels_basics', 'waterlevels_ext','switch_current']),
      switch_current: {
        get () {
          return this.$store.state.switch_current
        },
        set (newValue) {
          return this.$store.dispatch('set_switch_currentAction', newValue)
        }
      }
  },
  beforeMount() {
    if (this.currents_basics != false) {
      this.GetImage()
    }
  },
  methods: {
    GetImage() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Project.entity_id}/${this.Project.name}/GetCurrentImage`
      return axios.post(path)
        .then((res) => {
          this.image1 = `data:image/png;base64, ${res.data[0]}`
          this.image2 = `data:image/png;base64, ${res.data[1]}`
        })
    },
    async openSidebar() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Overview',
        message: '<span>This table presents an overview of tidal current conditions giving for each main current parameters the basic statistics (minimum, maximum, average, median and standard deviation).</span>' +
        '<h3> Acronyms </h3> <span><b>StD</b>: Standard Deviation<br> <b>Mag</b>: depth-averaged tidal current magnitude<br> <b>Flux</b>: depth-averaged tidal current energy flux.</span>',
        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'EJPD Mag-Theta',
          message: '<span>This figure shows the Empirical Joint Probability Distribution (EJPD) of tidal current magnitude (Mag) and tidal current direction (Theta).<br> Theta is given in ° within an oceanographical convention (going to).</span>',
       duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar22() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Windrose Mag-Theta',
          message: '<span>This figure shows the Windrose of tidal current magnitude (Mag) and tidal current direction (Theta).<br> Theta is given in ° within an oceanographical convention (going to).</span>',
       duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

.h2_section {
    user-select: none;
      font-size: 25px
}

body { min-width: 1050px; }

span { font-family: "Open Sans" }

h1, h2, h3, h4 { font-family: "Rajdhani"}
</style>
