<!--
This is the Site Characterisation module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Youen Kervella, Nicolas Michelet, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    
    <template v-if="test_begin === true">
      <el-button type='info'
                  style="float:right"
                  @click.prevent="changePage('Inputs')">Resume <i class="el-icon-arrow-right"></i> </el-button>
    </template>
    
    <table class="center_page_position" style="width:80%;border:none;background-color:white">
      <tr>
        <td style="width:40%;border:none;background-color:white">
          <img center width="400px" src="@/assets/logos/create_project.png" @click.prevent="dialogFormVisible = true" style="cursor:pointer">
        </td>
        <td style="width:50%;border:none;background-color:white">
          <img center width="340px" src="@/assets/logos/load_project.png" @click.prevent="dialogFormVisible2 = true; GetMyProjectList()" style="cursor:pointer">
        </td>
      </tr>
    </table>
    <br><br>

    <el-dialog :visible.sync="dialogFormVisible" style="text-align:center">

      <h2>Variables required for the creation</h2>
      <br>
      <h3 style="font-style: italic">Entity name</h3>
      <el-input v-model="Name" type="text" style="width:250px" placeholder="Name of the Entity" />
      <br>
      <br>
      <h3 style="font-style: italic"> Complexity level <i class="el-icon-info" style="margin-left:5px;cursor: pointer" @click.prevent="dialogFormVisible3 = true" /></h3>
      <el-radio-group v-model="Project.complexity_level">
        <el-radio :label="1"> Level 1 </el-radio>
        <el-radio :label="2"> Level 2 </el-radio>
        <el-radio :label="3"> Level 3 </el-radio>
      </el-radio-group>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click.prevent="dialogFormVisible = false">Cancel</el-button>
        <template v-if="Test_Fill(Project.complexity_level) === 'false' || Name.length == 0">
          <el-button type="success" disabled>Confirm</el-button>
        </template>
        <template v-else>
          <el-button type="success" @click.prevent="cplx = Project.complexity_level ;dialogFormVisible = false; onCommit(); onCreate()">Confirm</el-button>
        </template>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible2" align="center" width="60%">

      <h2>Select the project to load</h2>
      <el-table :data="sc_projects"
                element-loading-text="Loading"
                border
                fit
                highlight-current-row
                style="width:100%">
        <el-table-column prop="name"
                          label="Name"
                          align="center">
        </el-table-column>
        <el-table-column prop="time"
                          label="Date of creation"
                          align="center">
        </el-table-column>
        <el-table-column align="center">
          <template slot-scope="scope">
            <template v-if="waves_basics == 'running'">
              <el-button type="primary" @click.prevent="dialogFormVisible = true">Modify Inputs</el-button>
            </template>
            <template v-else>
              <el-button type="primary" @click.prevent="test_begin = true; GoToSelectedPage(sc_projects[scope.$index].name, 1)">Modify Inputs</el-button>
            </template>
          </template>
        </el-table-column>
        <el-table-column align="center">
          <template slot-scope="scope">
            <template v-if="waves_basics == 'running'">
              <el-button type="success" @click.prevent="dialogFormVisible = true">See Results</el-button>
            </template>
            <template v-else>
              <el-button type="success" @click.prevent="test_begin = true; GoToSelectedPage(sc_projects[scope.$index].name, 2)">See Results</el-button>
            </template>
          </template>
        </el-table-column>
        <el-table-column width="100%" align="center">
          <template slot-scope="scope">
            <template v-if="waves_basics == 'running'">
              <el-button type="danger" icon="el-icon-delete" @click.prevent="dialogFormVisible = true" />
            </template>
            <template v-else>
              <el-button type="danger" icon="el-icon-delete" @click.prevent="delete_index = scope.$index;dialogFormVisible4=true" />
            </template>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click.prevent="dialogFormVisible2 = false">Cancel</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible3" align="left" width="50%">
      <h2>Complexity Level 1 </h2>
      The Site Characterisation module will extract the physical characteristics of a designated site from an input database. See general documentation about this module <a href="${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/static/docs/_build/html/index.html" target="_blank">here</a>.
      <br>
      <span> Complexity level 1 is the early complexity level; punctual databases are proposed to the user who defines the wanted levels of energy for waves and tidal currents.<br> 
      The bathymetry is automatically defined using the databases included in the module except if the user wants a constant depth which would be required then.<br>
      The outputs are timeseries of main parameters as well as statistics, but do not include 2D Maps as the databases are punctual.
      <a href="${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/static/docs/_build/html/tutorials/sc_study.html#use-site-characterisation-at-low-and-medium-complexity-level-in-standalone-mode" target="_blank" ref="doc_cplx_1" style="display:none"/>
      <el-button size="small" @click="$refs.doc_cplx_1.click()">Read More</el-button></span>
      <br>
      <h2>Complexity Level 2</h2>
      <br>
      <span> Complexity Level 2 is the mid complexity level; 2D databases are proposed to the user who, same as the low complexity level, needs to define the levels of energy for waves and tidal currents.<br>
      The outputs would then also include the computed statistics and 2D Maps of bathymetry, seabed type, currents magnitude and waves significant height.
      <a href="${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/static/docs/_build/html/tutorials/sc_study.html#use-site-characterisation-at-low-and-medium-complexity-level-in-standalone-mode" target="_blank" ref="doc_cplx_2" style="display:none"/>
      <el-button size="small" @click="$refs.doc_cplx_2.click()">Read More</el-button></span>
      <br>
      <span> Complexity Level 3 is the late complexity level; the SC module allows the user to import his own databases for the lease area, corridor, seabed type and associated roughness length, endangered species, time series (for example the significant wave height or the tidal current magnitude) and the bathymetry.<br>
      These databases are extracted and statistics are computed. Statistics, timeseries of the main parameters and 2D maps (if the inputs are in 2D) are finally provided to the user.
      <a href="${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/static/docs/_build/html/tutorials/sc_study.html#use-site-characterisation-at-high-complexity-level-in-standalone-mode" target="_blank" ref="doc_cplx_3" style="display:none"/>
      <el-button size="small" @click="$refs.doc_cplx_3.click()">Read More</el-button></span>
      <br>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click.prevent="dialogFormVisible = false">Close</el-button>
      </span>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible4" align="center" width="50%">

      <h2> This entity will be deleted, do you want to continue ? </h2>
      <br>
      <el-button type="primary" @click.prevent="DeleteProject(sc_projects[delete_index].name);dialogFormVisible4=false"> Yes </el-button>
      <el-button type="danger" @click.prevent="dialogFormVisible4=false"> No </el-button>
    </el-dialog>

    <el-dialog :visible.sync="dialogFormVisible5" align="center" id="loading" width="40%">
      <h2>The calculation is still running. Please wait until it is complete before Load/Delete a project</h2>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click.prevent="dialogFormVisible5 = false">Close</el-button>
      </span>
    </el-dialog>
    <br>
    <img center width="200px" src="@/assets/logos/dtoceanplus_logo.png" align="right" style="transform:translateY(600%)">

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      sc_projects: [],
      dialogFormVisible: false,
      dialogFormVisible2: false,
      dialogFormVisible3: false,
      dialogFormVisible4: false,
      dialogFormVisible5: false,
      delete_index: ''
    }
  },
  beforeMount() {
    this.GetMyProjectList()
  },
  computed: {
    ...mapState(['Project', 'RunStatus', 'Name', 'test_begin', 'waves_basics', 'waves_ext', 'currents_basics', 'currents_ext', 'winds_basics', 'winds_ext', 'waterlevels_basics', 'waterlevels_ext']),
      Project: {
        get () {
          return this.$store.state.Project
        },
        set (newValue) {
          return this.$store.dispatch('set_ProjectAction', newValue)
        }
      },
      RunStatus: {
        get () {
          return this.$store.state.RunStatus
        },
        set (newValue) {
          return this.$store.dispatch('set_RunStatusAction', newValue)
        }
      },
      Name: {
        get () {
          return this.$store.state.Name
        },
        set (newValue) {
          return this.$store.dispatch('set_NameAction', newValue)
        }
      },
      test_begin: {
        get () {
          return this.$store.state.test_begin
        },
        set (newValue) {
          return this.$store.dispatch('set_test_beginAction', newValue)
        }
      },
      waves_basics: {
        get () {
          return this.$store.state.waves_basics
        },
        set (newValue) {
          return this.$store.dispatch('set_waves_basicsAction', newValue)
        }
      },
      waves_ext: {
        get () {
          return this.$store.state.waves_ext
        },
        set (newValue) {
          return this.$store.dispatch('set_waves_extAction', newValue)
        }
      },
      currents_basics: {
        get () {
          return this.$store.state.currents_basics
        },
        set (newValue) {
          return this.$store.dispatch('set_currents_basicsAction', newValue)
        }
      },
      currents_ext: {
        get () {
          return this.$store.state.currents_ext
        },
        set (newValue) {
          return this.$store.dispatch('set_currents_extAction', newValue)
        }
      },
      winds_basics: {
        get () {
          return this.$store.state.winds_basics
        },
        set (newValue) {
          return this.$store.dispatch('set_winds_basicsAction', newValue)
        }
      },
      winds_ext: {
        get () {
          return this.$store.state.winds_ext
        },
        set (newValue) {
          return this.$store.dispatch('set_winds_extAction', newValue)
        }
      },
      waterlevels_basics: {
        get () {
          return this.$store.state.waterlevels_basics
        },
        set (newValue) {
          return this.$store.dispatch('set_waterlevels_basicsAction', newValue)
        }
      },
      waterlevels_ext: {
        get () {
          return this.$store.state.waterlevels_ext
        },
        set (newValue) {
          return this.$store.dispatch('set_waterlevels_extAction', newValue)
        }
      }
    },
  methods: {
    DeleteProject(name) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${name}/DeleteProject`
      axios.delete(path)
        .then((res)=> {
          this.GetMyProjectList()
        })
    },
    GetMyProjectList() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/GetProjectsList`
      axios.get(path)
        .then((res) => {
          this.sc_projects = res.data
        })
    },
    onCommit() {
      this.$store.commit('set_TestBegin', true)
      this.$store.commit('set_TestBathy', 'false')
      this.$store.commit('set_Project', 1)
    },
    changePage(pagename) {
      this.RunStatus = ''
      this.$router.push({name: pagename})
    },
    Initialise_Project() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/initialise_Project`
      axios.get(path)
        .then((res)=> {
          this.Project = res.data
        })
    },
    SaveAs() {
      const payload = {
            name: this.Name,
            complexity_level: this.Project.complexity_level,
            run_mode: this.Project.run_mode,
            lease: this.Project.lease,
            corr: this.Project.corr,
            wave: this.Project.wave,
            current: this.Project.current,
            bathymetry: this.Project.bathymetry,
            seabed: this.Project.seabed,
            roughness: this.Project.roughness,
            species: this.Project.species,
            ts: this.Project.ts,
            selected_corridor: this.Project.selected_corridor,
            corridor_file_name: this.Project.corridor_file_name,
            selected_lease: this.Project.selected_lease,
            lease_file_name: this.Project.lease_file_name,
            selected_seabed: this.Project.selected_seabed,
            seabed_file_name: this.Project.seabed_file_name,
            selected_roughness: this.Project.selected_roughness,
            roughness_file_name: this.Project.roughness_file_name,
            selected_species: this.Project.selected_species,
            species_file_name: this.Project.species_file_name,
            selected_ts: this.Project.selected_ts,
            ts_file_name: this.Project.ts_file_name,
            uniform_bathy: this.Project.uniform_bathy,
            selected_bathy: this.Project.selected_bathy,
            bathy_file_name: this.Project.bathy_file_name,
            entity_status: this.Project.entity_status,
            entity_id: this.Project.entity_id
          }
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Name}/saveProject`
      axios
        .post(path, payload)
        .then((res)=>{
          this.Project = res.data
        })
    },
    Test_Fill(test_variable) {
      // Check if input variable (complexity level) is set to 1, 2 or 3
      // Otherwise the user cannot create the project (button disabled)
      if (test_variable === 0) {
        return ('false')
      } else {
        return ('true')
      }
    },
    async onCreate() {
      this.test_begin = true
      this.Project.entity_id = ''
      await this.SaveAs()
      this.$router.push({name: 'Inputs'})
    },
    async GoToSelectedPage(name, switch_test) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${name}/loadinputs`
      await axios.get(path)
        .then((res) => {
          this.Project = res.data
          return this.Project
        })
      this.Name = this.Project.name
      this.loadOutputs(name)
      if (switch_test === 1) {
        this.$router.push({
          name: 'Inputs'
        })
      } else {
        this.$router.push({
          name: 'Overview'
        })
      }
    },
    loadOutputs(projectname) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/none/${projectname}/loadoutputs`
      return axios.get(path)
        .then((res) => {
          this.waves_basics = res.data[0],
          this.waves_ext = res.data[1],
          this.currents_basics = res.data[2],
          this.currents_ext = res.data[3],
          this.winds_basics = res.data[4],
          this.winds_ext = res.data[5],
          this.waterlevels_basics = res.data[6],
          this.waterlevels_ext = res.data[7]
        })
    }
  }
}
</script>

<style lang="scss">

html, body, #app {
  height: 100%;
}

.center_page_position {
  position: relative;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  margin-left: 15%;
}

body { min-width: 1050px; }
</style>
