<template>
  <div id="app">
    <catalog-selector :catalogs="catalogs" :value="catalog" @change="onCatalogSelected">
    </catalog-selector>

    <h2>{{ catalog }}</h2>

    <column-selector :columns="columns" :selected="selectedColumns"
      @change="onColumnSelected">
    </column-selector>

    <p>Download:
      <ul>
        <li><a :href="`/${catalog}.csv`">CSV</a></li>
        <li><a :href="`/${catalog}.json`">JSON</a></li>
      </ul>
    </p>

    <!-- <label for="filter">Filter:</label>
    <input type="text" v-model="filter" id=filter>
    <ul>
      <li v-for="port in filteredPorts">{{port.name}}</li>
    </ul> -->

    <catalog-table :caption="catalog" :table='ports' :columns='filteredColumns'>
      <template slot="header">
        <catalog-table-header :columns="filteredColumns"></catalog-table-header>
      </template>
      <template slot="row" slot-scope="props">
        <catalog-table-row :row="props.row" :columns="filteredColumns"
          :key="props.row.id" @remove="props.removeMethod()">
        </catalog-table-row>
      </template>
    </catalog-table>

  </div>
</template>

<script>
import CatalogSelector from './CatalogSelector.vue';
import ColumnSelector from './ColumnSelector.vue';

import CatalogTable from './CatalogTable.vue';
import CatalogTableHeader from './CatalogTableHeader.vue';
import CatalogTableRow from './CatalogTableRow.vue';

export default {
  name: 'app',
  data() {
    return {
      catalog: 'ports',
      catalogs: ['ports', 'vessels'],

      ports: [],
      columns: [],

      selectedColumns: [ 'id', 'name', 'country' ],
      specialColumns: [ 'id', 'name', 'country' ],

      // filter: '',
      // filteredPorts: [],
    };
  },
  components: {
    'catalog-selector': CatalogSelector,
    'column-selector': ColumnSelector,

    'catalog-table': CatalogTable,
    'catalog-table-header': CatalogTableHeader,
    'catalog-table-row': CatalogTableRow
  },
  methods: {
    onCatalogSelected(catalog) {
      this.catalog = catalog;
    },
    onColumnSelected(columns) {
      this.selectedColumns = columns;
    },
  },
  // watch: {
  //   filter: function(newValue) {
  //     if (newValue.indexOf('ports') > -1) {
  //       fetch('ports')
  //         .then(response => response.json())
  //         .then(json => {
  //           this.filteredPorts = json;
  //         });
  //     } else {
  //       this.filteredPorts = [];
  //     }
  //   }
  // },
  computed: {
    filteredColumns() {
      var selectedColumns = this.selectedColumns;
      return this.columns.filter(function(column) {
        return selectedColumns.includes(column.id);
      });
    }
  },
  created() {
    var headers = new Headers({
      "Accept": "application/json"
    });
    var init = {
      headers: headers,
    };
    fetch('/ports.json', init)
      .then(response => response.json())
      .then(json => {
        this.ports = json;

        var specialColumns = this.specialColumns

        var columns = [];
        Object.keys(this.ports[0]).forEach(function(key, index) {
          if (!specialColumns.includes(key))
            columns.push({id: key});
        });
        columns.sort();
        this.specialColumns.reverse().forEach(function(item) {
          columns.unshift({ id: item });
        });

        // name
        columns.forEach(element => {
          if (element.id === 'id') {
            element['name'] = "#";
          } else {
            element['name'] = toTitleCase(element.id.replace(/_/g, ' '));
          }
        });
        this.columns = columns;

        function toTitleCase(str) {
            return str.replace(
                /\w\S*/g,
                function(txt) {
                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                }
            );
        }
      })
  }
}
</script>

<style>

</style>
