<template>
  <form action="/" method="post">
    <label for="catalog_selector">Catalog:</label>
    <select id="catalog_selector" v-model="value" @change="emitChange">
      <option v-for="catalog in catalogs" :value="catalog">{{ catalog }}</option>
    </select>
  </form>
</template>

<script>
export default {
  name: 'catalog-selector',
  props: ['catalogs', 'value'],
  methods: {
    emitChange() {
      this.$emit('change', this.value);
    }
  }
}
</script>
