<template>
  <div class="catalog-table">
    <table class="table table-dark">
      <caption>{{ caption }}</caption>
      <slot name="header"></slot>
      <tbody>
        <slot name="row" v-for="(row, i) in table" :row="row"
              :remove-method="remove.bind(this, i)">
        </slot>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'catalog-table',
  props: ['caption', 'table', 'columns'],
  methods: {
    remove(i) {
      this.table.splice(i, 1);
    }
  }
};
</script>

<style scoped>
  .catalog-table {
    margin-bottom: 40px;
  }
</style>
