<template>
  <tr>
    <td v-for="column in columns">{{ row[column.id] }}</td>
    <p><a :href="`/ports/${row.id}`">Show</a></p>
    <!-- <p><router-link :to="`/ports/${row.id}`">Show</router-link></p> -->
    <!-- <a @click="requestRemoval">Hide</a> -->
  </tr>
</template>

<script>
export default {
  name: 'catalog-table-row',
  props: ['row', 'columns'],
  methods: {
    // requestRemoval() {
    //   this.$emit('remove');
    // },
  }
};
</script>

<style>

</style>
