<template>
  <thead>
    <th scope="col" v-for="column in columns">{{ column.name }}</th>
  </thead>
</template>

<script>
export default {
  name: 'catalog-table-header',
  props: ['columns']
};

Vue.component('catalog-table-header', {
  template: '',
});
</script>

<style>

</style>
