<template>
  <form action="/" method="post">
    <fieldset>
      <legend>Columns</legend>
      <div v-for="column in columns">
        <input type="checkbox" v-model="selected" :value='column.id'>
        {{ column.name }}
      </div>
    </fieldset>
    <p v-if="selected.length > 0">Selected columns: {{ selected.join(', ') }}</p>
    <p v-else>Please select at least one column.</p>
  </form>
</template>

<script>
export default {
  name: 'column-selector',
  props: ['columns', 'selected'],
  watch: {
    selected() {
      this.$emit('change', this.selected);
    },
  },
}
</script>
