<template>
  <div>
    <h2><strong>{{port.name}}</strong></h2>
    <router-link to='/'>Back to all ports</router-link>
    <p>Country: <strong>{{port.country}}</strong></p>
    <p>ID: <strong>{{port.id}}</strong></p>
  </div>
</template>

<script>
  export default {
    name: 'port',
    data() {
      return {
        port: {}
      };
    },
    created() {
      let id = this.$route.params.id;
      fetch(`http://127.0.0.1:5000/ports/${id}`)
        .then(response => response.json())
        .then(json => {
          this.port = json;
        });
    }
  };
</script>

<style scoped>

</style>
