<!--
This is the Site Characterisation module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Youen Kervella, Nicolas Michelet, Neil Luxcey

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <img src="@/assets/logos/2DMaps.png" alt="end spe" width="85" height="75" align="left">

    <tr>
      <td style="width:20%;background-color: white; border:none;text-align:left">
        <h1 class="my_h1"> 2D Maps </h1>
      </td>
      <td style="width:20%;background-color: white; border:none;text-align:right">
        <template v-if="Project.name != 'none'">
          <h2 class="h2_section">Name of the Entity : <span style="color:#16a085">{{ Project.name }}</span></h2>
        </template>
      </td>
    </tr>

    <template v-if="waves_basics === false">
      <ul>
        <span style="font-weight:bold;font-size:18px"> No results available. Load/Create or Run your current entity before access to this page. </span>
      </ul>
    </template>

    <template v-else-if="waves_basics === 'running'">
      <ul>
        <span style="font-weight:bold;font-size:18px"> The calculation is in progress </span>
      </ul>
    </template>

    <template v-else>
      <template v-if="Project.complexity_level === 1 || Project.complexity_level === '1'">
        <ul>
          <span style="font-weight:bold;font-size:18px"> No 2D Maps for entity with complexity level 1 </span>
        </ul>
      </template>
      <template v-else-if="is_figures === false">
        <ul>
          <span style="font-weight:bold;font-size:18px"> No 2D Maps for this entity </span>
        </ul>
      </template>
      <template v-else>
        <ul>
          <span style="font-weight:bold;font-size:18px"> Bathymetry </span>
          <br><br>
          <ul>
            <img :src="image1" />
          </ul>
        </ul>
        <ul>
          <span style="font-weight:bold;font-size:18px"> Seabed Types</span>
          <br><br>
          <ul>
            <img :src="image2" />
          </ul>
        </ul>
        <ul>
          <span style="font-weight:bold;font-size:18px"> Currents </span>
        </ul>
        <div style="overflow: hidden">
          <ul>
            <ul>
              <el-row>
                <el-col :lg="13">
                  <el-row>
                    <span style="font-weight:bold"> Mean Magnitude </span>
                  </el-row>
                  <el-row>
                    <img :src="image3" />
                  </el-row>
                </el-col>
                <el-col :lg="6">
                  <el-row>
                    <span style="font-weight:bold"> Maximal Magnitude </span>
                  </el-row>
                  <el-row>
                    <img :src="image4" />
                  </el-row>
                </el-col>
              </el-row>
            </ul>
          </ul>
        </div>
        <ul>
          <span style="font-weight:bold;font-size:18px"> Waves </span>
        </ul>
        <div style="overflow: hidden">
          <ul>
            <ul>
              <el-row>
                <el-col :lg="13">
                  <el-row>
                    <span style="font-weight:bold"> Mean Significant Height </span>
                  </el-row>
                  <el-row>
                    <img :src="image5" />
                  </el-row>
                </el-col>
                <el-col :lg="6">
                  <el-row>
                    <span style="font-weight:bold"> Maximal Significant Height </span>
                  </el-row>
                  <el-row>
                    <img :src="image6" />
                  </el-row>
                </el-col>
              </el-row>
            </ul>
          </ul>
        </div>
      </template>
    </template>

    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      is_figures: false,
      image1: '',
      image2: '',
      image3: '',
      image4: '',
      image5: '',
      image6: ''
    }
  },
  computed: {
    ...mapState(['Project', 'waves_basics', 'waves_ext', 'currents_basics', 'currents_ext', 'winds_basics', 'winds_ext', 'waterlevels_basics', 'waterlevels_ext']),
  },
  beforeMount() {
    if (this.waves_basics != false) {
      this.checkFigures()
    }
  },
  methods: {
    checkFigures() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Project.entity_id}/${this.Project.name}/checkfigures`
      return axios.get(path)
        .then((res) => {
          this.is_figures = res.data
          if (this.is_figures === true) {
            this.GetImage()
          }
        })
    },
    GetImage() {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${this.Project.entity_id}/${this.Project.name}/Get2DImage`
      return axios.post(path)
        .then((res) => {
          this.image1 = `data:image/png;base64, ${res.data[0]}`
          this.image2 = `data:image/png;base64, ${res.data[1]}`
          this.image3 = `data:image/png;base64, ${res.data[2]}`
          this.image4 = `data:image/png;base64, ${res.data[3]}`
          this.image5 = `data:image/png;base64, ${res.data[4]}`
          this.image6 = `data:image/png;base64, ${res.data[5]}`
        })
    }
  }
}
</script>

<style lang="scss">

.h2_section {
    user-select: none;
      font-size: 25px
}

body { min-width: 1050px; }

span { font-family: "Open Sans" }

h1, h2, h3, h4 { font-family: "Rajdhani"}
</style>
