{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Project{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" placeholder="Your project name" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="port">Port</label>
    <select name="port_id" id="port">
      {% for port in ports %}
        <option value="{{ port['id'] }}">{{ port.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
{% endblock %}
