{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Projects{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('project.create') }}">New</a>
  {% endif %}
  <!-- {% include "projects/breadcrumb.html" %} -->
{% endblock %}

{% block content %}
  {% for project in projects %}
    <article class="project">
      <header>
        <div>
          <h1>
            <a href="{{ url_for('project.show', id=project['id']) }}">
              {{ project['title'] }}
            </a>
          </h1>
          <div class="about">by {{ project['username'] }} on {{ project['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == project['author_id'] %}
          <a class="action" href="{{ url_for('project.update', id=project['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ project['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
