{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ project.title }}" Port{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="port">Port</label>
    <select name="port_id" id="port">
      {% for port in ports %}
        <option value="{{ port.id }}"
          {% if port.selected %}
            selected="selected"
          {% endif %}
        >{{ port.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
{% endblock %}
