{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}{{ project['title'] }}{% endblock %}</h1>
  {% if g.user['id'] == project['author_id'] %}
    <a class="action" href="{{ url_for('project.update', id=project['id']) }}">Edit</a>
  {% endif %}
{% endblock %}

{% block content %}
  <!-- {% include "project/breadcrumb.html" %} -->
  <article class="project">

    <section id="details" title="Detailed information about project">
      <h2>Details</h2>
      <table class="container">
        <!-- <caption>Details</caption> -->
        <tr class="row">
          <td><label for="author">Author:</label></td>
          <td><p id="author">{{ project['username'] }}</p></td>
        </tr>
        <tr class="row">
          <td><label for="body">Body:</label></td>
          <td><p id="body"></span>{{ project['body'] }}</p></td>
        </tr>
      </table>
    </section>

    <hr>

    <section id="design" title="Information about design of the project">
      <h2>Design</h2>
      <table class="container">
        <tr class="row">
          <td><b>Port:</b></td>
          <td><a id="port" href="{{ url_for('port.show', id=port['id']) }}">{{ port.name }}</a></td>
          {% if g.user['id'] == project['author_id'] %}
          <td><a class="action" href="{{ url_for('project.port_update', id=project['id']) }}">Edit</a></td>
          {% endif %}
        </tr>
      </table>
    </section>

  </article>
{% endblock %}
