{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ project['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or project['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or project['body'] }}</textarea>
    <label for="port">Port</label>
    <select name="port_id" id="port">
      {% for port in ports %}
        <option value="{{ port['id'] }}"
          {% if port.selected %}
            selected="selected"
          {% endif %}
        >{{ port.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('project.delete', id=project['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
